In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\thevk\anaconda3\lib\site-packages (8.0.27)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\thevk\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)

In [2]:
import mysql.connector as connection

In [3]:
# check if the connection is established
conn = connection.connect(host="localhost",user="root", passwd="1234",use_pure=True)

In [4]:
cur=conn.cursor()

In [5]:
cur.execute("show databases")

In [6]:
res=cur.fetchall()
res

[('information_schema',),
 ('intro_sql',),
 ('mysql',),
 ('performance_schema',),
 ('test1234344',)]

In [7]:
res[1]

('intro_sql',)

In [8]:
for i in res:
    print(i[0])

information_schema
intro_sql
mysql
performance_schema
test1234344

In [9]:
cur.execute("create database sudhanshu12345")

In [10]:
## Creating Database
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost",user="root", passwd="1234",use_pure=True)
    # check if the connection is established
    print(mydb.is_connectedc())

    query = "create database student;"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database Created!!")
    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

'MySQLConnection' object has no attribute 'is_connectedc'

In [11]:
## Show databases
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost",user="root", passwd="1234",use_pure=True)
    # check if the connection is established

    query = "SHOW DATABASES"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print(cursor.fetchall())

except Exception as e:
    mydb.close()
    print(str(e))

[('information_schema',), ('intro_sql',), ('mysql',), ('performance_schema',), ('sudhanshu12345',), ('test1234344',)]

In [12]:
## Create Table
'''
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'Student',user="root", passwd="mysql",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "CREATE TABLE StudentDetails (Studentid INT(10) AUTO_INCREMENT PRIMARY KEY,FirstName VARCHAR(60)," \
            "LastName VARCHAR(60), RegistrationDate DATE,Class Varchar(20), Section Varchar(10))"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))'''

'\nimport mysql.connector as connection\n\ntry:\n    mydb = connection.connect(host="localhost", database = \'Student\',user="root", passwd="mysql",use_pure=True)\n    # check if the connection is established\n    print(mydb.is_connected())\n\n    query = "CREATE TABLE StudentDetails (Studentid INT(10) AUTO_INCREMENT PRIMARY KEY,FirstName VARCHAR(60),"             "LastName VARCHAR(60), RegistrationDate DATE,Class Varchar(20), Section Varchar(10))"\n\n    cursor = mydb.cursor() #create a cursor to execute queries\n    cursor.execute(query)\n    print("Table Created!!")\n    mydb.close()\nexcept Exception as e:\n    mydb.close()\n    print(str(e))'

In [13]:
 mydb = connection.connect(host="localhost", database = 'sudhanshu12345',user="root", passwd="1234",use_pure=True)

In [14]:
mydb.is_connected()

True

In [15]:
cur =mydb.cursor()
cur.execute("create table test(x1 INT(5), x2 VARCHAR(20), x3 DATE)")
mydb.close()

In [16]:
## Values inserted into the table
'''
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'Student',user="root", passwd="mysql",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "INSERT INTO StudentDetails VALUES ('1132','Sachin','Kumar','1997-11-11','Eleventh','A')"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Values inserted into the table!!")
    mydb.commit()
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))
'''

'\nimport mysql.connector as connection\n\ntry:\n    mydb = connection.connect(host="localhost", database = \'Student\',user="root", passwd="mysql",use_pure=True)\n    # check if the connection is established\n    print(mydb.is_connected())\n    query = "INSERT INTO StudentDetails VALUES (\'1132\',\'Sachin\',\'Kumar\',\'1997-11-11\',\'Eleventh\',\'A\')"\n\n    cursor = mydb.cursor() #create a cursor to execute queries\n    cursor.execute(query)\n    print("Values inserted into the table!!")\n    mydb.commit()\n    mydb.close()\nexcept Exception as e:\n    mydb.close()\n    print(str(e))\n'

In [17]:
 mydb = connection.connect(host="localhost", database = 'sudhanshu12345',user="root", passwd="1234",use_pure=True)

In [18]:
cur=mydb.cursor()

In [19]:
cur.execute("insert into test values(4564, 'sudh', 15-05-2021)")

DataError: 1292 (22007): Incorrect date value: '-2011' for column 'x3' at row 1

In [20]:
cur.execute("insert into test values(4564, 'sudh', '15-05-2021')")

DataError: 1292 (22007): Incorrect date value: '15-05-2021' for column 'x3' at row 1

In [21]:
cur.execute("insert into test values(4564, 'sudh', '2021-05-15')") ## yyy-mm-dd

In [22]:
mydb.commit()

In [23]:
cur.execute("insert into test values(4565, 'Vivek Kumar Verma', '2021-05-15')") ## yyy-mm-dd

In [24]:
mydb.commit()

In [25]:
cur.execute("insert into test values(4566, 'Dhruv', '2021-05-15')") ## yyy-mm-dd
cur.execute("insert into test values(4567, 'Amit', '2021-05-15')") ## yyy-mm-dd
cur.execute("insert into test values(4568, 'Prince', '2021-05-15')") ## yyy-mm-dd
cur.execute("insert into test values(4569, 'Gautam', '2021-05-15')") ## yyy-mm-dd
cur.execute("insert into test values(4570, 'Amarjeet', '2021-05-15')") ## yyy-mm-dd
cur.execute("insert into test values(4571, 'Ashish', '2021-05-15')")## yyy-mm-dd
cur.execute("insert into test values(4572, 'Pravin', '2021-05-15')") ## yyy-mm-dd
cur.execute("insert into test values(4573, 'Sajan', '2021-05-15')") ## yyy-mm-dd
cur.execute("insert into test values(4574, 'Devendra', '2021-05-15')") ## yyy-mm-dd

In [26]:
mydb.commit()

In [27]:
## Select from DB
'''
import mysql.connector as connection


try:
    mydb = connection.connect(host="localhost", database = 'GlassData',user="root", passwd="mysql",use_pure=True)
    #check if the connection is established
    print(mydb.is_connected())
    query = "Select * from GlassData;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)
    mydb.close() #close the connection


except Exception as e:
    #mydb.close()
    print(str(e))
'''

'\nimport mysql.connector as connection\n\n\ntry:\n    mydb = connection.connect(host="localhost", database = \'GlassData\',user="root", passwd="mysql",use_pure=True)\n    #check if the connection is established\n    print(mydb.is_connected())\n    query = "Select * from GlassData;"\n    cursor = mydb.cursor() #create a cursor to execute queries\n    cursor.execute(query)\n    for result in cursor.fetchall():\n        print(result)\n    mydb.close() #close the connection\n\n\nexcept Exception as e:\n    #mydb.close()\n    print(str(e))\n'

In [31]:
cur1=mydb.cursor()
cur1.execute("select * from test")

In [29]:
cur1.fetchall()

[(4564, 'sudh', datetime.date(2021, 5, 15)),
 (4565, 'Vivek Kumar Verma', datetime.date(2021, 5, 15)),
 (4566, 'Dhruv', datetime.date(2021, 5, 15)),
 (4567, 'Amit', datetime.date(2021, 5, 15)),
 (4568, 'Prince', datetime.date(2021, 5, 15)),
 (4569, 'Gautam', datetime.date(2021, 5, 15)),
 (4570, 'Amarjeet', datetime.date(2021, 5, 15)),
 (4571, 'Ashish', datetime.date(2021, 5, 15)),
 (4572, 'Pravin', datetime.date(2021, 5, 15)),
 (4573, 'Sajan', datetime.date(2021, 5, 15)),
 (4574, 'Devendra', datetime.date(2021, 5, 15))]

In [32]:
for i in cur1.fetchall():
    print(i)

(4564, 'sudh', datetime.date(2021, 5, 15))
(4565, 'Vivek Kumar Verma', datetime.date(2021, 5, 15))
(4566, 'Dhruv', datetime.date(2021, 5, 15))
(4567, 'Amit', datetime.date(2021, 5, 15))
(4568, 'Prince', datetime.date(2021, 5, 15))
(4569, 'Gautam', datetime.date(2021, 5, 15))
(4570, 'Amarjeet', datetime.date(2021, 5, 15))
(4571, 'Ashish', datetime.date(2021, 5, 15))
(4572, 'Pravin', datetime.date(2021, 5, 15))
(4573, 'Sajan', datetime.date(2021, 5, 15))
(4574, 'Devendra', datetime.date(2021, 5, 15))

In [33]:
cur= mydb.cursor()
cur.execute("select x1, x2 from test")

In [34]:
for i in cur.fetchall():
    print(i)

(4564, 'sudh')
(4565, 'Vivek Kumar Verma')
(4566, 'Dhruv')
(4567, 'Amit')
(4568, 'Prince')
(4569, 'Gautam')
(4570, 'Amarjeet')
(4571, 'Ashish')
(4572, 'Pravin')
(4573, 'Sajan')
(4574, 'Devendra')

In [35]:
mydb.close()

In [36]:
## Select into Dataframe
'''
import mysql.connector as connection
import pandas as pandas

try:

    mydb = connection.connect(host="localhost", database='GlassData', user="root", passwd="mysql", use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "Select * from GlassData;"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)

    mydb.close()  # close the connection

except Exception as e:
    #mydb.close()
    print(str(e))
'''

'\nimport mysql.connector as connection\nimport pandas as pandas\n\ntry:\n\n    mydb = connection.connect(host="localhost", database=\'GlassData\', user="root", passwd="mysql", use_pure=True)\n    # check if the connection is established\n    print(mydb.is_connected())\n    query = "Select * from GlassData;"\n    result_dataFrame = pandas.read_sql(query,mydb)\n    print(result_dataFrame)\n\n    mydb.close()  # close the connection\n\nexcept Exception as e:\n    #mydb.close()\n    print(str(e))\n'

In [37]:
 mydb = connection.connect(host="localhost", database = 'sudhanshu12345',user="root", passwd="1234",use_pure=True)

In [38]:
import pandas as pd

In [39]:
mydb

In [40]:
pd.read_sql("select * from sudhanshu12345.test",mydb)

      x1                 x2          x3
0   4564               sudh  2021-05-15
1   4565  Vivek Kumar Verma  2021-05-15
2   4566              Dhruv  2021-05-15
3   4567               Amit  2021-05-15
4   4568             Prince  2021-05-15
5   4569             Gautam  2021-05-15
6   4570           Amarjeet  2021-05-15
7   4571             Ashish  2021-05-15
8   4572             Pravin  2021-05-15
9   4573              Sajan  2021-05-15
10  4574           Devendra  2021-05-15

In [41]:
pd.read_sql("select x1,x2 from sudhanshu12345.test",mydb)

      x1                 x2
0   4564               sudh
1   4565  Vivek Kumar Verma
2   4566              Dhruv
3   4567               Amit
4   4568             Prince
5   4569             Gautam
6   4570           Amarjeet
7   4571             Ashish
8   4572             Pravin
9   4573              Sajan
10  4574           Devendra

In [42]:
pd.read_sql("select x1,x2 from test",mydb)

      x1                 x2
0   4564               sudh
1   4565  Vivek Kumar Verma
2   4566              Dhruv
3   4567               Amit
4   4568             Prince
5   4569             Gautam
6   4570           Amarjeet
7   4571             Ashish
8   4572             Pravin
9   4573              Sajan
10  4574           Devendra

In [43]:
a=pd.read_sql("select x1,x2,x3 from test",mydb)
a

      x1                 x2          x3
0   4564               sudh  2021-05-15
1   4565  Vivek Kumar Verma  2021-05-15
2   4566              Dhruv  2021-05-15
3   4567               Amit  2021-05-15
4   4568             Prince  2021-05-15
5   4569             Gautam  2021-05-15
6   4570           Amarjeet  2021-05-15
7   4571             Ashish  2021-05-15
8   4572             Pravin  2021-05-15
9   4573              Sajan  2021-05-15
10  4574           Devendra  2021-05-15

In [44]:
a.to_csv("mydata.csv") ## creating csv file

In [45]:
mydb.close()

In [46]:
## insert from file
'''
import mysql.connector as connection
import pandas as pandas
import csv

try:
    mydb = connection.connect(host="localhost", user="root", passwd="mysql",use_pure=True)
    #check if the connection is established
    print(mydb.is_connected())
    #create a new database
    query = "Create database GlassData;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database Created!!")
    mydb.close() #close the connection

    #Establish a new connection to the database created above
    mydb = connection.connect(host="localhost", database = 'GlassData',user="root", passwd="mysql", use_pure=True)

    #create a new table to store glass data
    query = "CREATE TABLE IF NOT EXISTS GlassData (Index_Number INT(10),RI float(10,5), Na float(10,5), Mg float(10,5),Al float(10,5)," \
            " Si float(10,5), K float(10,5), Ca float(10,5), Ba float(10,5), Fe float(10,5), Class INT(5))"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")

    #read from the file
    with open('glass.data', "r") as f:
        next(f)
        glass_data = csv.reader(f, delimiter="\n")
        for line in enumerate(glass_data):
            for list_ in (line[1]):
                cursor.execute('INSERT INTO GlassData values ({values})'.format(values=(list_)))
    print("Values inserted!!")
    mydb.commit()
    cursor.close()
    mydb.close()

except Exception as e:
    #mydb.close()
    print(str(e))
'''

'\nimport mysql.connector as connection\nimport pandas as pandas\nimport csv\n\ntry:\n    mydb = connection.connect(host="localhost", user="root", passwd="mysql",use_pure=True)\n    #check if the connection is established\n    print(mydb.is_connected())\n    #create a new database\n    query = "Create database GlassData;"\n    cursor = mydb.cursor() #create a cursor to execute queries\n    cursor.execute(query)\n    print("Database Created!!")\n    mydb.close() #close the connection\n\n    #Establish a new connection to the database created above\n    mydb = connection.connect(host="localhost", database = \'GlassData\',user="root", passwd="mysql", use_pure=True)\n\n    #create a new table to store glass data\n    query = "CREATE TABLE IF NOT EXISTS GlassData (Index_Number INT(10),RI float(10,5), Na float(10,5), Mg float(10,5),Al float(10,5),"             " Si float(10,5), K float(10,5), Ca float(10,5), Ba float(10,5), Fe float(10,5), Class INT(5))"\n    cursor = mydb.cursor()  # create a cursor to execute queries\n    cursor.execute(query)\n    print("Table Created!!")\n\n    #read from the file\n    with open(\'glass.data\', "r") as f:\n        next(f)\n        glass_data = csv.reader(f, delimiter="\n")\n        for line in enumerate(glass_data):\n            for list_ in (line[1]):\n                cursor.execute(\'INSERT INTO GlassData values ({values})\'.format(values=(list_)))\n    print("Values inserted!!")\n    mydb.commit()\n    cursor.close()\n    mydb.close()\n\nexcept Exception as e:\n    #mydb.close()\n    print(str(e))\n'

In [47]:
mydb = connection.connect(host="localhost", database = 'sudhanshu12345',user="root", passwd="1234",use_pure=True)
mydb

In [48]:
cur=mydb.cursor()
cur.execute("create table mydata(n1 int(20), n2 varchar(20), n3 date)")

In [49]:
data=pd.read_csv("mydata.csv")
data

    Unnamed: 0    x1                 x2          x3
0            0  4564               sudh  2021-05-15
1            1  4565  Vivek Kumar Verma  2021-05-15
2            2  4566              Dhruv  2021-05-15
3            3  4567               Amit  2021-05-15
4            4  4568             Prince  2021-05-15
5            5  4569             Gautam  2021-05-15
6            6  4570           Amarjeet  2021-05-15
7            7  4571             Ashish  2021-05-15
8            8  4572             Pravin  2021-05-15
9            9  4573              Sajan  2021-05-15
10          10  4574           Devendra  2021-05-15

In [50]:
data.to_sql('mydata',mydb)

C:\Users\thevk\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement

In [51]:
data1= pd.read_sql('select * from test',mydb)

In [52]:
data1.to_sql('mydata1', mydb)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement

In [53]:
mydb.close()

In [54]:
mydb = connection.connect(host="localhost", database = 'sudhanshu12345',user="root", passwd="1234",use_pure=True)
mydb

In [55]:
import mysql.connector as connection
import pandas as pandas
import csv

In [58]:
curr= mydb.cursor()
curr.execute("CREATE TABLE sudhanshu12345.GlassData1 (Index_Number INT(10),RI float(10,5), Na float(10,5), Mg float(10,5),Al float(10,5)," \
            " Si float(10,5), K float(10,5), Ca float(10,5), Ba float(10,5), Fe float(10,5), Class INT(5))")

In [61]:
ls

 Volume in drive D is New Volume
 Volume Serial Number is F6A3-A1A3

 Directory of D:\Ineuron\Programs\FSDS\Previous Batch Programs\#2 DataBase

01-06-2022  10:51            76,435 #1 Working with MySQL.ipynb
01-06-2022  10:51    <DIR>          .
01-06-2022  10:51    <DIR>          ..
31-05-2022  06:57    <DIR>          .ipynb_checkpoints
28-01-2022  00:22            11,941 glass.data
01-06-2022  10:45               307 mydata.csv
               3 File(s)         88,683 bytes
               3 Dir(s)  577,817,026,560 bytes free

In [63]:
with open('glass.data',"r") as data:
    data_csv= csv.reader(data, delimiter="\n")
    print(data_csv)

<_csv.reader object at 0x000001E52FB4DB80>

In [64]:
with open('glass.data',"r") as data:
    data_csv= csv.reader(data, delimiter="\n")
    print(data_csv)
    for i in data_csv:
        print(i)

<_csv.reader object at 0x000001E530A90CA0>
['index,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Class']
['1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.00,1']
['2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.00,0.00,1']
['3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.00,0.00,1']
['4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.00,0.00,1']
['5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.00,0.00,1']
['6,1.51596,12.79,3.61,1.62,72.97,0.64,8.07,0.00,0.26,1']
['7,1.51743,13.30,3.60,1.14,73.09,0.58,8.17,0.00,0.00,1']
['8,1.51756,13.15,3.61,1.05,73.24,0.57,8.24,0.00,0.00,1']
['9,1.51918,14.04,3.58,1.37,72.08,0.56,8.30,0.00,0.00,1']
['10,1.51755,13.00,3.60,1.36,72.99,0.57,8.40,0.00,0.11,1']
['11,1.51571,12.72,3.46,1.56,73.20,0.67,8.09,0.00,0.24,1']
['12,1.51763,12.80,3.66,1.27,73.01,0.60,8.56,0.00,0.00,1']
['13,1.51589,12.88,3.43,1.40,73.28,0.69,8.05,0.00,0.24,1']
['14,1.51748,12.86,3.56,1.27,73.21,0.54,8.38,0.00,0.17,1']
['15,1.51763,12.61,3.59,1.31,73.29,0.58,8.50,0.00,0.00,1']
['16,1.51761,12.81,3.54,1.23,73.24,0.58,8.39,0.00,0.00,1']
['17,1.51784,12.68,3.67,1.16,73.11,0.61,8.70,0.00,0.00,1']
['18,1.52196,14.36,3.85,0.89,71.36,0.15,9.15,0.00,0.00,1']
['19,1.51911,13.90,3.73,1.18,72.12,0.06,8.89,0.00,0.00,1']
['20,1.51735,13.02,3.54,1.69,72.73,0.54,8.44,0.00,0.07,1']
['21,1.51750,12.82,3.55,1.49,72.75,0.54,8.52,0.00,0.19,1']
['22,1.51966,14.77,3.75,0.29,72.02,0.03,9.00,0.00,0.00,1']
['23,1.51736,12.78,3.62,1.29,72.79,0.59,8.70,0.00,0.00,1']
['24,1.51751,12.81,3.57,1.35,73.02,0.62,8.59,0.00,0.00,1']
['25,1.51720,13.38,3.50,1.15,72.85,0.50,8.43,0.00,0.00,1']
['26,1.51764,12.98,3.54,1.21,73.00,0.65,8.53,0.00,0.00,1']
['27,1.51793,13.21,3.48,1.41,72.64,0.59,8.43,0.00,0.00,1']
['28,1.51721,12.87,3.48,1.33,73.04,0.56,8.43,0.00,0.00,1']
['29,1.51768,12.56,3.52,1.43,73.15,0.57,8.54,0.00,0.00,1']
['30,1.51784,13.08,3.49,1.28,72.86,0.60,8.49,0.00,0.00,1']
['31,1.51768,12.65,3.56,1.30,73.08,0.61,8.69,0.00,0.14,1']
['32,1.51747,12.84,3.50,1.14,73.27,0.56,8.55,0.00,0.00,1']
['33,1.51775,12.85,3.48,1.23,72.97,0.61,8.56,0.09,0.22,1']
['34,1.51753,12.57,3.47,1.38,73.39,0.60,8.55,0.00,0.06,1']
['35,1.51783,12.69,3.54,1.34,72.95,0.57,8.75,0.00,0.00,1']
['36,1.51567,13.29,3.45,1.21,72.74,0.56,8.57,0.00,0.00,1']
['37,1.51909,13.89,3.53,1.32,71.81,0.51,8.78,0.11,0.00,1']
['38,1.51797,12.74,3.48,1.35,72.96,0.64,8.68,0.00,0.00,1']
['39,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1']
['40,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1']
['41,1.51793,12.79,3.50,1.12,73.03,0.64,8.77,0.00,0.00,1']
['42,1.51755,12.71,3.42,1.20,73.20,0.59,8.64,0.00,0.00,1']
['43,1.51779,13.21,3.39,1.33,72.76,0.59,8.59,0.00,0.00,1']
['44,1.52210,13.73,3.84,0.72,71.76,0.17,9.74,0.00,0.00,1']
['45,1.51786,12.73,3.43,1.19,72.95,0.62,8.76,0.00,0.30,1']
['46,1.51900,13.49,3.48,1.35,71.95,0.55,9.00,0.00,0.00,1']
['47,1.51869,13.19,3.37,1.18,72.72,0.57,8.83,0.00,0.16,1']
['48,1.52667,13.99,3.70,0.71,71.57,0.02,9.82,0.00,0.10,1']
['49,1.52223,13.21,3.77,0.79,71.99,0.13,10.02,0.00,0.00,1']
['50,1.51898,13.58,3.35,1.23,72.08,0.59,8.91,0.00,0.00,1']
['51,1.52320,13.72,3.72,0.51,71.75,0.09,10.06,0.00,0.16,1']
['52,1.51926,13.20,3.33,1.28,72.36,0.60,9.14,0.00,0.11,1']
['53,1.51808,13.43,2.87,1.19,72.84,0.55,9.03,0.00,0.00,1']
['54,1.51837,13.14,2.84,1.28,72.85,0.55,9.07,0.00,0.00,1']
['55,1.51778,13.21,2.81,1.29,72.98,0.51,9.02,0.00,0.09,1']
['56,1.51769,12.45,2.71,1.29,73.70,0.56,9.06,0.00,0.24,1']
['57,1.51215,12.99,3.47,1.12,72.98,0.62,8.35,0.00,0.31,1']
['58,1.51824,12.87,3.48,1.29,72.95,0.60,8.43,0.00,0.00,1']
['59,1.51754,13.48,3.74,1.17,72.99,0.59,8.03,0.00,0.00,1']
['60,1.51754,13.39,3.66,1.19,72.79,0.57,8.27,0.00,0.11,1']
['61,1.51905,13.60,3.62,1.11,72.64,0.14,8.76,0.00,0.00,1']
['62,1.51977,13.81,3.58,1.32,71.72,0.12,8.67,0.69,0.00,1']
['63,1.52172,13.51,3.86,0.88,71.79,0.23,9.54,0.00,0.11,1']
['64,1.52227,14.17,3.81,0.78,71.35,0.00,9.69,0.00,0.00,1']
['65,1.52172,13.48,3.74,0.90,72.01,0.18,9.61,0.00,0.07,1']
['66,1.52099,13.69,3.59,1.12,71.96,0.09,9.40,0.00,0.00,1']
['67,1.52152,13.05,3.65,0.87,72.22,0.19,9.85,0.00,0.17,1']
['68,1.52152,13.05,3.65,0.87,72.32,0.19,9.85,0.00,0.17,1']
['69,1.52152,13.12,3.58,0.90,72.20,0.23,9.82,0.00,0.16,1']
['70,1.52300,13.31,3.58,0.82,71.99,0.12,10.17,0.00,0.03,1']
['71,1.51574,14.86,3.67,1.74,71.87,0.16,7.36,0.00,0.12,2']
['72,1.51848,13.64,3.87,1.27,71.96,0.54,8.32,0.00,0.32,2']
['73,1.51593,13.09,3.59,1.52,73.10,0.67,7.83,0.00,0.00,2']
['74,1.51631,13.34,3.57,1.57,72.87,0.61,7.89,0.00,0.00,2']
['75,1.51596,13.02,3.56,1.54,73.11,0.72,7.90,0.00,0.00,2']
['76,1.51590,13.02,3.58,1.51,73.12,0.69,7.96,0.00,0.00,2']
['77,1.51645,13.44,3.61,1.54,72.39,0.66,8.03,0.00,0.00,2']
['78,1.51627,13.00,3.58,1.54,72.83,0.61,8.04,0.00,0.00,2']
['79,1.51613,13.92,3.52,1.25,72.88,0.37,7.94,0.00,0.14,2']
['80,1.51590,12.82,3.52,1.90,72.86,0.69,7.97,0.00,0.00,2']
['81,1.51592,12.86,3.52,2.12,72.66,0.69,7.97,0.00,0.00,2']
['82,1.51593,13.25,3.45,1.43,73.17,0.61,7.86,0.00,0.00,2']
['83,1.51646,13.41,3.55,1.25,72.81,0.68,8.10,0.00,0.00,2']
['84,1.51594,13.09,3.52,1.55,72.87,0.68,8.05,0.00,0.09,2']
['85,1.51409,14.25,3.09,2.08,72.28,1.10,7.08,0.00,0.00,2']
['86,1.51625,13.36,3.58,1.49,72.72,0.45,8.21,0.00,0.00,2']
['87,1.51569,13.24,3.49,1.47,73.25,0.38,8.03,0.00,0.00,2']
['88,1.51645,13.40,3.49,1.52,72.65,0.67,8.08,0.00,0.10,2']
['89,1.51618,13.01,3.50,1.48,72.89,0.60,8.12,0.00,0.00,2']
['90,1.51640,12.55,3.48,1.87,73.23,0.63,8.08,0.00,0.09,2']
['91,1.51841,12.93,3.74,1.11,72.28,0.64,8.96,0.00,0.22,2']
['92,1.51605,12.90,3.44,1.45,73.06,0.44,8.27,0.00,0.00,2']
['93,1.51588,13.12,3.41,1.58,73.26,0.07,8.39,0.00,0.19,2']
['94,1.51590,13.24,3.34,1.47,73.10,0.39,8.22,0.00,0.00,2']
['95,1.51629,12.71,3.33,1.49,73.28,0.67,8.24,0.00,0.00,2']
['96,1.51860,13.36,3.43,1.43,72.26,0.51,8.60,0.00,0.00,2']
['97,1.51841,13.02,3.62,1.06,72.34,0.64,9.13,0.00,0.15,2']
['98,1.51743,12.20,3.25,1.16,73.55,0.62,8.90,0.00,0.24,2']
['99,1.51689,12.67,2.88,1.71,73.21,0.73,8.54,0.00,0.00,2']
['100,1.51811,12.96,2.96,1.43,72.92,0.60,8.79,0.14,0.00,2']
['101,1.51655,12.75,2.85,1.44,73.27,0.57,8.79,0.11,0.22,2']
['102,1.51730,12.35,2.72,1.63,72.87,0.70,9.23,0.00,0.00,2']
['103,1.51820,12.62,2.76,0.83,73.81,0.35,9.42,0.00,0.20,2']
['104,1.52725,13.80,3.15,0.66,70.57,0.08,11.64,0.00,0.00,2']
['105,1.52410,13.83,2.90,1.17,71.15,0.08,10.79,0.00,0.00,2']
['106,1.52475,11.45,0.00,1.88,72.19,0.81,13.24,0.00,0.34,2']
['107,1.53125,10.73,0.00,2.10,69.81,0.58,13.30,3.15,0.28,2']
['108,1.53393,12.30,0.00,1.00,70.16,0.12,16.19,0.00,0.24,2']
['109,1.52222,14.43,0.00,1.00,72.67,0.10,11.52,0.00,0.08,2']
['110,1.51818,13.72,0.00,0.56,74.45,0.00,10.99,0.00,0.00,2']
['111,1.52664,11.23,0.00,0.77,73.21,0.00,14.68,0.00,0.00,2']
['112,1.52739,11.02,0.00,0.75,73.08,0.00,14.96,0.00,0.00,2']
['113,1.52777,12.64,0.00,0.67,72.02,0.06,14.40,0.00,0.00,2']
['114,1.51892,13.46,3.83,1.26,72.55,0.57,8.21,0.00,0.14,2']
['115,1.51847,13.10,3.97,1.19,72.44,0.60,8.43,0.00,0.00,2']
['116,1.51846,13.41,3.89,1.33,72.38,0.51,8.28,0.00,0.00,2']
['117,1.51829,13.24,3.90,1.41,72.33,0.55,8.31,0.00,0.10,2']
['118,1.51708,13.72,3.68,1.81,72.06,0.64,7.88,0.00,0.00,2']
['119,1.51673,13.30,3.64,1.53,72.53,0.65,8.03,0.00,0.29,2']
['120,1.51652,13.56,3.57,1.47,72.45,0.64,7.96,0.00,0.00,2']
['121,1.51844,13.25,3.76,1.32,72.40,0.58,8.42,0.00,0.00,2']
['122,1.51663,12.93,3.54,1.62,72.96,0.64,8.03,0.00,0.21,2']
['123,1.51687,13.23,3.54,1.48,72.84,0.56,8.10,0.00,0.00,2']
['124,1.51707,13.48,3.48,1.71,72.52,0.62,7.99,0.00,0.00,2']
['125,1.52177,13.20,3.68,1.15,72.75,0.54,8.52,0.00,0.00,2']
['126,1.51872,12.93,3.66,1.56,72.51,0.58,8.55,0.00,0.12,2']
['127,1.51667,12.94,3.61,1.26,72.75,0.56,8.60,0.00,0.00,2']
['128,1.52081,13.78,2.28,1.43,71.99,0.49,9.85,0.00,0.17,2']
['129,1.52068,13.55,2.09,1.67,72.18,0.53,9.57,0.27,0.17,2']
['130,1.52020,13.98,1.35,1.63,71.76,0.39,10.56,0.00,0.18,2']
['131,1.52177,13.75,1.01,1.36,72.19,0.33,11.14,0.00,0.00,2']
['132,1.52614,13.70,0.00,1.36,71.24,0.19,13.44,0.00,0.10,2']
['133,1.51813,13.43,3.98,1.18,72.49,0.58,8.15,0.00,0.00,2']
['134,1.51800,13.71,3.93,1.54,71.81,0.54,8.21,0.00,0.15,2']
['135,1.51811,13.33,3.85,1.25,72.78,0.52,8.12,0.00,0.00,2']
['136,1.51789,13.19,3.90,1.30,72.33,0.55,8.44,0.00,0.28,2']
['137,1.51806,13.00,3.80,1.08,73.07,0.56,8.38,0.00,0.12,2']
['138,1.51711,12.89,3.62,1.57,72.96,0.61,8.11,0.00,0.00,2']
['139,1.51674,12.79,3.52,1.54,73.36,0.66,7.90,0.00,0.00,2']
['140,1.51674,12.87,3.56,1.64,73.14,0.65,7.99,0.00,0.00,2']
['141,1.51690,13.33,3.54,1.61,72.54,0.68,8.11,0.00,0.00,2']
['142,1.51851,13.20,3.63,1.07,72.83,0.57,8.41,0.09,0.17,2']
['143,1.51662,12.85,3.51,1.44,73.01,0.68,8.23,0.06,0.25,2']
['144,1.51709,13.00,3.47,1.79,72.72,0.66,8.18,0.00,0.00,2']
['145,1.51660,12.99,3.18,1.23,72.97,0.58,8.81,0.00,0.24,2']
['146,1.51839,12.85,3.67,1.24,72.57,0.62,8.68,0.00,0.35,2']
['147,1.51769,13.65,3.66,1.11,72.77,0.11,8.60,0.00,0.00,3']
['148,1.51610,13.33,3.53,1.34,72.67,0.56,8.33,0.00,0.00,3']
['149,1.51670,13.24,3.57,1.38,72.70,0.56,8.44,0.00,0.10,3']
['150,1.51643,12.16,3.52,1.35,72.89,0.57,8.53,0.00,0.00,3']
['151,1.51665,13.14,3.45,1.76,72.48,0.60,8.38,0.00,0.17,3']
['152,1.52127,14.32,3.90,0.83,71.50,0.00,9.49,0.00,0.00,3']
['153,1.51779,13.64,3.65,0.65,73.00,0.06,8.93,0.00,0.00,3']
['154,1.51610,13.42,3.40,1.22,72.69,0.59,8.32,0.00,0.00,3']
['155,1.51694,12.86,3.58,1.31,72.61,0.61,8.79,0.00,0.00,3']
['156,1.51646,13.04,3.40,1.26,73.01,0.52,8.58,0.00,0.00,3']
['157,1.51655,13.41,3.39,1.28,72.64,0.52,8.65,0.00,0.00,3']
['158,1.52121,14.03,3.76,0.58,71.79,0.11,9.65,0.00,0.00,3']
['159,1.51776,13.53,3.41,1.52,72.04,0.58,8.79,0.00,0.00,3']
['160,1.51796,13.50,3.36,1.63,71.94,0.57,8.81,0.00,0.09,3']
['161,1.51832,13.33,3.34,1.54,72.14,0.56,8.99,0.00,0.00,3']
['162,1.51934,13.64,3.54,0.75,72.65,0.16,8.89,0.15,0.24,3']
['163,1.52211,14.19,3.78,0.91,71.36,0.23,9.14,0.00,0.37,3']
['164,1.51514,14.01,2.68,3.50,69.89,1.68,5.87,2.20,0.00,5']
['165,1.51915,12.73,1.85,1.86,72.69,0.60,10.09,0.00,0.00,5']
['166,1.52171,11.56,1.88,1.56,72.86,0.47,11.41,0.00,0.00,5']
['167,1.52151,11.03,1.71,1.56,73.44,0.58,11.62,0.00,0.00,5']
['168,1.51969,12.64,0.00,1.65,73.75,0.38,11.53,0.00,0.00,5']
['169,1.51666,12.86,0.00,1.83,73.88,0.97,10.17,0.00,0.00,5']
['170,1.51994,13.27,0.00,1.76,73.03,0.47,11.32,0.00,0.00,5']
['171,1.52369,13.44,0.00,1.58,72.22,0.32,12.24,0.00,0.00,5']
['172,1.51316,13.02,0.00,3.04,70.48,6.21,6.96,0.00,0.00,5']
['173,1.51321,13.00,0.00,3.02,70.70,6.21,6.93,0.00,0.00,5']
['174,1.52043,13.38,0.00,1.40,72.25,0.33,12.50,0.00,0.00,5']
['175,1.52058,12.85,1.61,2.17,72.18,0.76,9.70,0.24,0.51,5']
['176,1.52119,12.97,0.33,1.51,73.39,0.13,11.27,0.00,0.28,5']
['177,1.51905,14.00,2.39,1.56,72.37,0.00,9.57,0.00,0.00,6']
['178,1.51937,13.79,2.41,1.19,72.76,0.00,9.77,0.00,0.00,6']
['179,1.51829,14.46,2.24,1.62,72.38,0.00,9.26,0.00,0.00,6']
['180,1.51852,14.09,2.19,1.66,72.67,0.00,9.32,0.00,0.00,6']
['181,1.51299,14.40,1.74,1.54,74.55,0.00,7.59,0.00,0.00,6']
['182,1.51888,14.99,0.78,1.74,72.50,0.00,9.95,0.00,0.00,6']
['183,1.51916,14.15,0.00,2.09,72.74,0.00,10.88,0.00,0.00,6']
['184,1.51969,14.56,0.00,0.56,73.48,0.00,11.22,0.00,0.00,6']
['185,1.51115,17.38,0.00,0.34,75.41,0.00,6.65,0.00,0.00,6']
['186,1.51131,13.69,3.20,1.81,72.81,1.76,5.43,1.19,0.00,7']
['187,1.51838,14.32,3.26,2.22,71.25,1.46,5.79,1.63,0.00,7']
['188,1.52315,13.44,3.34,1.23,72.38,0.60,8.83,0.00,0.00,7']
['189,1.52247,14.86,2.20,2.06,70.26,0.76,9.76,0.00,0.00,7']
['190,1.52365,15.79,1.83,1.31,70.43,0.31,8.61,1.68,0.00,7']
['191,1.51613,13.88,1.78,1.79,73.10,0.00,8.67,0.76,0.00,7']
['192,1.51602,14.85,0.00,2.38,73.28,0.00,8.76,0.64,0.09,7']
['193,1.51623,14.20,0.00,2.79,73.46,0.04,9.04,0.40,0.09,7']
['194,1.51719,14.75,0.00,2.00,73.02,0.00,8.53,1.59,0.08,7']
['195,1.51683,14.56,0.00,1.98,73.29,0.00,8.52,1.57,0.07,7']
['196,1.51545,14.14,0.00,2.68,73.39,0.08,9.07,0.61,0.05,7']
['197,1.51556,13.87,0.00,2.54,73.23,0.14,9.41,0.81,0.01,7']
['198,1.51727,14.70,0.00,2.34,73.28,0.00,8.95,0.66,0.00,7']
['199,1.51531,14.38,0.00,2.66,73.10,0.04,9.08,0.64,0.00,7']
['200,1.51609,15.01,0.00,2.51,73.05,0.05,8.83,0.53,0.00,7']
['201,1.51508,15.15,0.00,2.25,73.50,0.00,8.34,0.63,0.00,7']
['202,1.51653,11.95,0.00,1.19,75.18,2.70,8.93,0.00,0.00,7']
['203,1.51514,14.85,0.00,2.42,73.72,0.00,8.39,0.56,0.00,7']
['204,1.51658,14.80,0.00,1.99,73.11,0.00,8.28,1.71,0.00,7']
['205,1.51617,14.95,0.00,2.27,73.30,0.00,8.71,0.67,0.00,7']
['206,1.51732,14.95,0.00,1.80,72.99,0.00,8.61,1.55,0.00,7']
['207,1.51645,14.94,0.00,1.87,73.11,0.00,8.67,1.38,0.00,7']
['208,1.51831,14.39,0.00,1.82,72.86,1.41,6.47,2.88,0.00,7']
['209,1.51640,14.37,0.00,2.74,72.85,0.00,9.45,0.54,0.00,7']
['210,1.51623,14.14,0.00,2.88,72.61,0.08,9.18,1.06,0.00,7']
['211,1.51685,14.92,0.00,1.99,73.06,0.00,8.40,1.59,0.00,7']
['212,1.52065,14.36,0.00,2.02,73.42,0.00,8.44,1.64,0.00,7']
['213,1.51651,14.38,0.00,1.94,73.61,0.00,8.48,1.57,0.00,7']
['214,1.51711,14.23,0.00,2.08,73.36,0.00,8.62,1.67,0.00,7']

In [71]:
with open('glass.data',"r") as data:
    data_csv= csv.reader(data, delimiter="\n")
    print(data_csv)
    for i in enumerate(data_csv):
        print(i)

<_csv.reader object at 0x000001E530CC9D60>
(0, ['index,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Class'])
(1, ['1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.00,1'])
(2, ['2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.00,0.00,1'])
(3, ['3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.00,0.00,1'])
(4, ['4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.00,0.00,1'])
(5, ['5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.00,0.00,1'])
(6, ['6,1.51596,12.79,3.61,1.62,72.97,0.64,8.07,0.00,0.26,1'])
(7, ['7,1.51743,13.30,3.60,1.14,73.09,0.58,8.17,0.00,0.00,1'])
(8, ['8,1.51756,13.15,3.61,1.05,73.24,0.57,8.24,0.00,0.00,1'])
(9, ['9,1.51918,14.04,3.58,1.37,72.08,0.56,8.30,0.00,0.00,1'])
(10, ['10,1.51755,13.00,3.60,1.36,72.99,0.57,8.40,0.00,0.11,1'])
(11, ['11,1.51571,12.72,3.46,1.56,73.20,0.67,8.09,0.00,0.24,1'])
(12, ['12,1.51763,12.80,3.66,1.27,73.01,0.60,8.56,0.00,0.00,1'])
(13, ['13,1.51589,12.88,3.43,1.40,73.28,0.69,8.05,0.00,0.24,1'])
(14, ['14,1.51748,12.86,3.56,1.27,73.21,0.54,8.38,0.00,0.17,1'])
(15, ['15,1.51763,12.61,3.59,1.31,73.29,0.58,8.50,0.00,0.00,1'])
(16, ['16,1.51761,12.81,3.54,1.23,73.24,0.58,8.39,0.00,0.00,1'])
(17, ['17,1.51784,12.68,3.67,1.16,73.11,0.61,8.70,0.00,0.00,1'])
(18, ['18,1.52196,14.36,3.85,0.89,71.36,0.15,9.15,0.00,0.00,1'])
(19, ['19,1.51911,13.90,3.73,1.18,72.12,0.06,8.89,0.00,0.00,1'])
(20, ['20,1.51735,13.02,3.54,1.69,72.73,0.54,8.44,0.00,0.07,1'])
(21, ['21,1.51750,12.82,3.55,1.49,72.75,0.54,8.52,0.00,0.19,1'])
(22, ['22,1.51966,14.77,3.75,0.29,72.02,0.03,9.00,0.00,0.00,1'])
(23, ['23,1.51736,12.78,3.62,1.29,72.79,0.59,8.70,0.00,0.00,1'])
(24, ['24,1.51751,12.81,3.57,1.35,73.02,0.62,8.59,0.00,0.00,1'])
(25, ['25,1.51720,13.38,3.50,1.15,72.85,0.50,8.43,0.00,0.00,1'])
(26, ['26,1.51764,12.98,3.54,1.21,73.00,0.65,8.53,0.00,0.00,1'])
(27, ['27,1.51793,13.21,3.48,1.41,72.64,0.59,8.43,0.00,0.00,1'])
(28, ['28,1.51721,12.87,3.48,1.33,73.04,0.56,8.43,0.00,0.00,1'])
(29, ['29,1.51768,12.56,3.52,1.43,73.15,0.57,8.54,0.00,0.00,1'])
(30, ['30,1.51784,13.08,3.49,1.28,72.86,0.60,8.49,0.00,0.00,1'])
(31, ['31,1.51768,12.65,3.56,1.30,73.08,0.61,8.69,0.00,0.14,1'])
(32, ['32,1.51747,12.84,3.50,1.14,73.27,0.56,8.55,0.00,0.00,1'])
(33, ['33,1.51775,12.85,3.48,1.23,72.97,0.61,8.56,0.09,0.22,1'])
(34, ['34,1.51753,12.57,3.47,1.38,73.39,0.60,8.55,0.00,0.06,1'])
(35, ['35,1.51783,12.69,3.54,1.34,72.95,0.57,8.75,0.00,0.00,1'])
(36, ['36,1.51567,13.29,3.45,1.21,72.74,0.56,8.57,0.00,0.00,1'])
(37, ['37,1.51909,13.89,3.53,1.32,71.81,0.51,8.78,0.11,0.00,1'])
(38, ['38,1.51797,12.74,3.48,1.35,72.96,0.64,8.68,0.00,0.00,1'])
(39, ['39,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1'])
(40, ['40,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1'])
(41, ['41,1.51793,12.79,3.50,1.12,73.03,0.64,8.77,0.00,0.00,1'])
(42, ['42,1.51755,12.71,3.42,1.20,73.20,0.59,8.64,0.00,0.00,1'])
(43, ['43,1.51779,13.21,3.39,1.33,72.76,0.59,8.59,0.00,0.00,1'])
(44, ['44,1.52210,13.73,3.84,0.72,71.76,0.17,9.74,0.00,0.00,1'])
(45, ['45,1.51786,12.73,3.43,1.19,72.95,0.62,8.76,0.00,0.30,1'])
(46, ['46,1.51900,13.49,3.48,1.35,71.95,0.55,9.00,0.00,0.00,1'])
(47, ['47,1.51869,13.19,3.37,1.18,72.72,0.57,8.83,0.00,0.16,1'])
(48, ['48,1.52667,13.99,3.70,0.71,71.57,0.02,9.82,0.00,0.10,1'])
(49, ['49,1.52223,13.21,3.77,0.79,71.99,0.13,10.02,0.00,0.00,1'])
(50, ['50,1.51898,13.58,3.35,1.23,72.08,0.59,8.91,0.00,0.00,1'])
(51, ['51,1.52320,13.72,3.72,0.51,71.75,0.09,10.06,0.00,0.16,1'])
(52, ['52,1.51926,13.20,3.33,1.28,72.36,0.60,9.14,0.00,0.11,1'])
(53, ['53,1.51808,13.43,2.87,1.19,72.84,0.55,9.03,0.00,0.00,1'])
(54, ['54,1.51837,13.14,2.84,1.28,72.85,0.55,9.07,0.00,0.00,1'])
(55, ['55,1.51778,13.21,2.81,1.29,72.98,0.51,9.02,0.00,0.09,1'])
(56, ['56,1.51769,12.45,2.71,1.29,73.70,0.56,9.06,0.00,0.24,1'])
(57, ['57,1.51215,12.99,3.47,1.12,72.98,0.62,8.35,0.00,0.31,1'])
(58, ['58,1.51824,12.87,3.48,1.29,72.95,0.60,8.43,0.00,0.00,1'])
(59, ['59,1.51754,13.48,3.74,1.17,72.99,0.59,8.03,0.00,0.00,1'])
(60, ['60,1.51754,13.39,3.66,1.19,72.79,0.57,8.27,0.00,0.11,1'])
(61, ['61,1.51905,13.60,3.62,1.11,72.64,0.14,8.76,0.00,0.00,1'])
(62, ['62,1.51977,13.81,3.58,1.32,71.72,0.12,8.67,0.69,0.00,1'])
(63, ['63,1.52172,13.51,3.86,0.88,71.79,0.23,9.54,0.00,0.11,1'])
(64, ['64,1.52227,14.17,3.81,0.78,71.35,0.00,9.69,0.00,0.00,1'])
(65, ['65,1.52172,13.48,3.74,0.90,72.01,0.18,9.61,0.00,0.07,1'])
(66, ['66,1.52099,13.69,3.59,1.12,71.96,0.09,9.40,0.00,0.00,1'])
(67, ['67,1.52152,13.05,3.65,0.87,72.22,0.19,9.85,0.00,0.17,1'])
(68, ['68,1.52152,13.05,3.65,0.87,72.32,0.19,9.85,0.00,0.17,1'])
(69, ['69,1.52152,13.12,3.58,0.90,72.20,0.23,9.82,0.00,0.16,1'])
(70, ['70,1.52300,13.31,3.58,0.82,71.99,0.12,10.17,0.00,0.03,1'])
(71, ['71,1.51574,14.86,3.67,1.74,71.87,0.16,7.36,0.00,0.12,2'])
(72, ['72,1.51848,13.64,3.87,1.27,71.96,0.54,8.32,0.00,0.32,2'])
(73, ['73,1.51593,13.09,3.59,1.52,73.10,0.67,7.83,0.00,0.00,2'])
(74, ['74,1.51631,13.34,3.57,1.57,72.87,0.61,7.89,0.00,0.00,2'])
(75, ['75,1.51596,13.02,3.56,1.54,73.11,0.72,7.90,0.00,0.00,2'])
(76, ['76,1.51590,13.02,3.58,1.51,73.12,0.69,7.96,0.00,0.00,2'])
(77, ['77,1.51645,13.44,3.61,1.54,72.39,0.66,8.03,0.00,0.00,2'])
(78, ['78,1.51627,13.00,3.58,1.54,72.83,0.61,8.04,0.00,0.00,2'])
(79, ['79,1.51613,13.92,3.52,1.25,72.88,0.37,7.94,0.00,0.14,2'])
(80, ['80,1.51590,12.82,3.52,1.90,72.86,0.69,7.97,0.00,0.00,2'])
(81, ['81,1.51592,12.86,3.52,2.12,72.66,0.69,7.97,0.00,0.00,2'])
(82, ['82,1.51593,13.25,3.45,1.43,73.17,0.61,7.86,0.00,0.00,2'])
(83, ['83,1.51646,13.41,3.55,1.25,72.81,0.68,8.10,0.00,0.00,2'])
(84, ['84,1.51594,13.09,3.52,1.55,72.87,0.68,8.05,0.00,0.09,2'])
(85, ['85,1.51409,14.25,3.09,2.08,72.28,1.10,7.08,0.00,0.00,2'])
(86, ['86,1.51625,13.36,3.58,1.49,72.72,0.45,8.21,0.00,0.00,2'])
(87, ['87,1.51569,13.24,3.49,1.47,73.25,0.38,8.03,0.00,0.00,2'])
(88, ['88,1.51645,13.40,3.49,1.52,72.65,0.67,8.08,0.00,0.10,2'])
(89, ['89,1.51618,13.01,3.50,1.48,72.89,0.60,8.12,0.00,0.00,2'])
(90, ['90,1.51640,12.55,3.48,1.87,73.23,0.63,8.08,0.00,0.09,2'])
(91, ['91,1.51841,12.93,3.74,1.11,72.28,0.64,8.96,0.00,0.22,2'])
(92, ['92,1.51605,12.90,3.44,1.45,73.06,0.44,8.27,0.00,0.00,2'])
(93, ['93,1.51588,13.12,3.41,1.58,73.26,0.07,8.39,0.00,0.19,2'])
(94, ['94,1.51590,13.24,3.34,1.47,73.10,0.39,8.22,0.00,0.00,2'])
(95, ['95,1.51629,12.71,3.33,1.49,73.28,0.67,8.24,0.00,0.00,2'])
(96, ['96,1.51860,13.36,3.43,1.43,72.26,0.51,8.60,0.00,0.00,2'])
(97, ['97,1.51841,13.02,3.62,1.06,72.34,0.64,9.13,0.00,0.15,2'])
(98, ['98,1.51743,12.20,3.25,1.16,73.55,0.62,8.90,0.00,0.24,2'])
(99, ['99,1.51689,12.67,2.88,1.71,73.21,0.73,8.54,0.00,0.00,2'])
(100, ['100,1.51811,12.96,2.96,1.43,72.92,0.60,8.79,0.14,0.00,2'])
(101, ['101,1.51655,12.75,2.85,1.44,73.27,0.57,8.79,0.11,0.22,2'])
(102, ['102,1.51730,12.35,2.72,1.63,72.87,0.70,9.23,0.00,0.00,2'])
(103, ['103,1.51820,12.62,2.76,0.83,73.81,0.35,9.42,0.00,0.20,2'])
(104, ['104,1.52725,13.80,3.15,0.66,70.57,0.08,11.64,0.00,0.00,2'])
(105, ['105,1.52410,13.83,2.90,1.17,71.15,0.08,10.79,0.00,0.00,2'])
(106, ['106,1.52475,11.45,0.00,1.88,72.19,0.81,13.24,0.00,0.34,2'])
(107, ['107,1.53125,10.73,0.00,2.10,69.81,0.58,13.30,3.15,0.28,2'])
(108, ['108,1.53393,12.30,0.00,1.00,70.16,0.12,16.19,0.00,0.24,2'])
(109, ['109,1.52222,14.43,0.00,1.00,72.67,0.10,11.52,0.00,0.08,2'])
(110, ['110,1.51818,13.72,0.00,0.56,74.45,0.00,10.99,0.00,0.00,2'])
(111, ['111,1.52664,11.23,0.00,0.77,73.21,0.00,14.68,0.00,0.00,2'])
(112, ['112,1.52739,11.02,0.00,0.75,73.08,0.00,14.96,0.00,0.00,2'])
(113, ['113,1.52777,12.64,0.00,0.67,72.02,0.06,14.40,0.00,0.00,2'])
(114, ['114,1.51892,13.46,3.83,1.26,72.55,0.57,8.21,0.00,0.14,2'])
(115, ['115,1.51847,13.10,3.97,1.19,72.44,0.60,8.43,0.00,0.00,2'])
(116, ['116,1.51846,13.41,3.89,1.33,72.38,0.51,8.28,0.00,0.00,2'])
(117, ['117,1.51829,13.24,3.90,1.41,72.33,0.55,8.31,0.00,0.10,2'])
(118, ['118,1.51708,13.72,3.68,1.81,72.06,0.64,7.88,0.00,0.00,2'])
(119, ['119,1.51673,13.30,3.64,1.53,72.53,0.65,8.03,0.00,0.29,2'])
(120, ['120,1.51652,13.56,3.57,1.47,72.45,0.64,7.96,0.00,0.00,2'])
(121, ['121,1.51844,13.25,3.76,1.32,72.40,0.58,8.42,0.00,0.00,2'])
(122, ['122,1.51663,12.93,3.54,1.62,72.96,0.64,8.03,0.00,0.21,2'])
(123, ['123,1.51687,13.23,3.54,1.48,72.84,0.56,8.10,0.00,0.00,2'])
(124, ['124,1.51707,13.48,3.48,1.71,72.52,0.62,7.99,0.00,0.00,2'])
(125, ['125,1.52177,13.20,3.68,1.15,72.75,0.54,8.52,0.00,0.00,2'])
(126, ['126,1.51872,12.93,3.66,1.56,72.51,0.58,8.55,0.00,0.12,2'])
(127, ['127,1.51667,12.94,3.61,1.26,72.75,0.56,8.60,0.00,0.00,2'])
(128, ['128,1.52081,13.78,2.28,1.43,71.99,0.49,9.85,0.00,0.17,2'])
(129, ['129,1.52068,13.55,2.09,1.67,72.18,0.53,9.57,0.27,0.17,2'])
(130, ['130,1.52020,13.98,1.35,1.63,71.76,0.39,10.56,0.00,0.18,2'])
(131, ['131,1.52177,13.75,1.01,1.36,72.19,0.33,11.14,0.00,0.00,2'])
(132, ['132,1.52614,13.70,0.00,1.36,71.24,0.19,13.44,0.00,0.10,2'])
(133, ['133,1.51813,13.43,3.98,1.18,72.49,0.58,8.15,0.00,0.00,2'])
(134, ['134,1.51800,13.71,3.93,1.54,71.81,0.54,8.21,0.00,0.15,2'])
(135, ['135,1.51811,13.33,3.85,1.25,72.78,0.52,8.12,0.00,0.00,2'])
(136, ['136,1.51789,13.19,3.90,1.30,72.33,0.55,8.44,0.00,0.28,2'])
(137, ['137,1.51806,13.00,3.80,1.08,73.07,0.56,8.38,0.00,0.12,2'])
(138, ['138,1.51711,12.89,3.62,1.57,72.96,0.61,8.11,0.00,0.00,2'])
(139, ['139,1.51674,12.79,3.52,1.54,73.36,0.66,7.90,0.00,0.00,2'])
(140, ['140,1.51674,12.87,3.56,1.64,73.14,0.65,7.99,0.00,0.00,2'])
(141, ['141,1.51690,13.33,3.54,1.61,72.54,0.68,8.11,0.00,0.00,2'])
(142, ['142,1.51851,13.20,3.63,1.07,72.83,0.57,8.41,0.09,0.17,2'])
(143, ['143,1.51662,12.85,3.51,1.44,73.01,0.68,8.23,0.06,0.25,2'])
(144, ['144,1.51709,13.00,3.47,1.79,72.72,0.66,8.18,0.00,0.00,2'])
(145, ['145,1.51660,12.99,3.18,1.23,72.97,0.58,8.81,0.00,0.24,2'])
(146, ['146,1.51839,12.85,3.67,1.24,72.57,0.62,8.68,0.00,0.35,2'])
(147, ['147,1.51769,13.65,3.66,1.11,72.77,0.11,8.60,0.00,0.00,3'])
(148, ['148,1.51610,13.33,3.53,1.34,72.67,0.56,8.33,0.00,0.00,3'])
(149, ['149,1.51670,13.24,3.57,1.38,72.70,0.56,8.44,0.00,0.10,3'])
(150, ['150,1.51643,12.16,3.52,1.35,72.89,0.57,8.53,0.00,0.00,3'])
(151, ['151,1.51665,13.14,3.45,1.76,72.48,0.60,8.38,0.00,0.17,3'])
(152, ['152,1.52127,14.32,3.90,0.83,71.50,0.00,9.49,0.00,0.00,3'])
(153, ['153,1.51779,13.64,3.65,0.65,73.00,0.06,8.93,0.00,0.00,3'])
(154, ['154,1.51610,13.42,3.40,1.22,72.69,0.59,8.32,0.00,0.00,3'])
(155, ['155,1.51694,12.86,3.58,1.31,72.61,0.61,8.79,0.00,0.00,3'])
(156, ['156,1.51646,13.04,3.40,1.26,73.01,0.52,8.58,0.00,0.00,3'])
(157, ['157,1.51655,13.41,3.39,1.28,72.64,0.52,8.65,0.00,0.00,3'])
(158, ['158,1.52121,14.03,3.76,0.58,71.79,0.11,9.65,0.00,0.00,3'])
(159, ['159,1.51776,13.53,3.41,1.52,72.04,0.58,8.79,0.00,0.00,3'])
(160, ['160,1.51796,13.50,3.36,1.63,71.94,0.57,8.81,0.00,0.09,3'])
(161, ['161,1.51832,13.33,3.34,1.54,72.14,0.56,8.99,0.00,0.00,3'])
(162, ['162,1.51934,13.64,3.54,0.75,72.65,0.16,8.89,0.15,0.24,3'])
(163, ['163,1.52211,14.19,3.78,0.91,71.36,0.23,9.14,0.00,0.37,3'])
(164, ['164,1.51514,14.01,2.68,3.50,69.89,1.68,5.87,2.20,0.00,5'])
(165, ['165,1.51915,12.73,1.85,1.86,72.69,0.60,10.09,0.00,0.00,5'])
(166, ['166,1.52171,11.56,1.88,1.56,72.86,0.47,11.41,0.00,0.00,5'])
(167, ['167,1.52151,11.03,1.71,1.56,73.44,0.58,11.62,0.00,0.00,5'])
(168, ['168,1.51969,12.64,0.00,1.65,73.75,0.38,11.53,0.00,0.00,5'])
(169, ['169,1.51666,12.86,0.00,1.83,73.88,0.97,10.17,0.00,0.00,5'])
(170, ['170,1.51994,13.27,0.00,1.76,73.03,0.47,11.32,0.00,0.00,5'])
(171, ['171,1.52369,13.44,0.00,1.58,72.22,0.32,12.24,0.00,0.00,5'])
(172, ['172,1.51316,13.02,0.00,3.04,70.48,6.21,6.96,0.00,0.00,5'])
(173, ['173,1.51321,13.00,0.00,3.02,70.70,6.21,6.93,0.00,0.00,5'])
(174, ['174,1.52043,13.38,0.00,1.40,72.25,0.33,12.50,0.00,0.00,5'])
(175, ['175,1.52058,12.85,1.61,2.17,72.18,0.76,9.70,0.24,0.51,5'])
(176, ['176,1.52119,12.97,0.33,1.51,73.39,0.13,11.27,0.00,0.28,5'])
(177, ['177,1.51905,14.00,2.39,1.56,72.37,0.00,9.57,0.00,0.00,6'])
(178, ['178,1.51937,13.79,2.41,1.19,72.76,0.00,9.77,0.00,0.00,6'])
(179, ['179,1.51829,14.46,2.24,1.62,72.38,0.00,9.26,0.00,0.00,6'])
(180, ['180,1.51852,14.09,2.19,1.66,72.67,0.00,9.32,0.00,0.00,6'])
(181, ['181,1.51299,14.40,1.74,1.54,74.55,0.00,7.59,0.00,0.00,6'])
(182, ['182,1.51888,14.99,0.78,1.74,72.50,0.00,9.95,0.00,0.00,6'])
(183, ['183,1.51916,14.15,0.00,2.09,72.74,0.00,10.88,0.00,0.00,6'])
(184, ['184,1.51969,14.56,0.00,0.56,73.48,0.00,11.22,0.00,0.00,6'])
(185, ['185,1.51115,17.38,0.00,0.34,75.41,0.00,6.65,0.00,0.00,6'])
(186, ['186,1.51131,13.69,3.20,1.81,72.81,1.76,5.43,1.19,0.00,7'])
(187, ['187,1.51838,14.32,3.26,2.22,71.25,1.46,5.79,1.63,0.00,7'])
(188, ['188,1.52315,13.44,3.34,1.23,72.38,0.60,8.83,0.00,0.00,7'])
(189, ['189,1.52247,14.86,2.20,2.06,70.26,0.76,9.76,0.00,0.00,7'])
(190, ['190,1.52365,15.79,1.83,1.31,70.43,0.31,8.61,1.68,0.00,7'])
(191, ['191,1.51613,13.88,1.78,1.79,73.10,0.00,8.67,0.76,0.00,7'])
(192, ['192,1.51602,14.85,0.00,2.38,73.28,0.00,8.76,0.64,0.09,7'])
(193, ['193,1.51623,14.20,0.00,2.79,73.46,0.04,9.04,0.40,0.09,7'])
(194, ['194,1.51719,14.75,0.00,2.00,73.02,0.00,8.53,1.59,0.08,7'])
(195, ['195,1.51683,14.56,0.00,1.98,73.29,0.00,8.52,1.57,0.07,7'])
(196, ['196,1.51545,14.14,0.00,2.68,73.39,0.08,9.07,0.61,0.05,7'])
(197, ['197,1.51556,13.87,0.00,2.54,73.23,0.14,9.41,0.81,0.01,7'])
(198, ['198,1.51727,14.70,0.00,2.34,73.28,0.00,8.95,0.66,0.00,7'])
(199, ['199,1.51531,14.38,0.00,2.66,73.10,0.04,9.08,0.64,0.00,7'])
(200, ['200,1.51609,15.01,0.00,2.51,73.05,0.05,8.83,0.53,0.00,7'])
(201, ['201,1.51508,15.15,0.00,2.25,73.50,0.00,8.34,0.63,0.00,7'])
(202, ['202,1.51653,11.95,0.00,1.19,75.18,2.70,8.93,0.00,0.00,7'])
(203, ['203,1.51514,14.85,0.00,2.42,73.72,0.00,8.39,0.56,0.00,7'])
(204, ['204,1.51658,14.80,0.00,1.99,73.11,0.00,8.28,1.71,0.00,7'])
(205, ['205,1.51617,14.95,0.00,2.27,73.30,0.00,8.71,0.67,0.00,7'])
(206, ['206,1.51732,14.95,0.00,1.80,72.99,0.00,8.61,1.55,0.00,7'])
(207, ['207,1.51645,14.94,0.00,1.87,73.11,0.00,8.67,1.38,0.00,7'])
(208, ['208,1.51831,14.39,0.00,1.82,72.86,1.41,6.47,2.88,0.00,7'])
(209, ['209,1.51640,14.37,0.00,2.74,72.85,0.00,9.45,0.54,0.00,7'])
(210, ['210,1.51623,14.14,0.00,2.88,72.61,0.08,9.18,1.06,0.00,7'])
(211, ['211,1.51685,14.92,0.00,1.99,73.06,0.00,8.40,1.59,0.00,7'])
(212, ['212,1.52065,14.36,0.00,2.02,73.42,0.00,8.44,1.64,0.00,7'])
(213, ['213,1.51651,14.38,0.00,1.94,73.61,0.00,8.48,1.57,0.00,7'])
(214, ['214,1.51711,14.23,0.00,2.08,73.36,0.00,8.62,1.67,0.00,7'])

In [73]:
mydb = connection.connect(host="localhost", database='sudhanshu12345', user="root", passwd="1234", use_pure=True)
cur= mydb.cursor()
with open('glass.data',"r") as data:
    next(data)
    data_csv= csv.reader(data, delimiter="\n")
    print(data_csv)
    for i in enumerate(data_csv):
        print(i)
        for j in i[1]:
            cur.execute('insert into sudhanshu12345.GlassData1 values ({data})'.format(data=(j)))
    print("all the data inserted")
mydb.commit()

<_csv.reader object at 0x000001E5310E0580>
(0, ['1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.00,1'])
(1, ['2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.00,0.00,1'])
(2, ['3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.00,0.00,1'])
(3, ['4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.00,0.00,1'])
(4, ['5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.00,0.00,1'])
(5, ['6,1.51596,12.79,3.61,1.62,72.97,0.64,8.07,0.00,0.26,1'])
(6, ['7,1.51743,13.30,3.60,1.14,73.09,0.58,8.17,0.00,0.00,1'])
(7, ['8,1.51756,13.15,3.61,1.05,73.24,0.57,8.24,0.00,0.00,1'])
(8, ['9,1.51918,14.04,3.58,1.37,72.08,0.56,8.30,0.00,0.00,1'])
(9, ['10,1.51755,13.00,3.60,1.36,72.99,0.57,8.40,0.00,0.11,1'])
(10, ['11,1.51571,12.72,3.46,1.56,73.20,0.67,8.09,0.00,0.24,1'])
(11, ['12,1.51763,12.80,3.66,1.27,73.01,0.60,8.56,0.00,0.00,1'])
(12, ['13,1.51589,12.88,3.43,1.40,73.28,0.69,8.05,0.00,0.24,1'])
(13, ['14,1.51748,12.86,3.56,1.27,73.21,0.54,8.38,0.00,0.17,1'])
(14, ['15,1.51763,12.61,3.59,1.31,73.29,0.58,8.50,0.00,0.00,1'])
(15, ['16,1.51761,12.81,3.54,1.23,73.24,0.58,8.39,0.00,0.00,1'])
(16, ['17,1.51784,12.68,3.67,1.16,73.11,0.61,8.70,0.00,0.00,1'])
(17, ['18,1.52196,14.36,3.85,0.89,71.36,0.15,9.15,0.00,0.00,1'])
(18, ['19,1.51911,13.90,3.73,1.18,72.12,0.06,8.89,0.00,0.00,1'])
(19, ['20,1.51735,13.02,3.54,1.69,72.73,0.54,8.44,0.00,0.07,1'])
(20, ['21,1.51750,12.82,3.55,1.49,72.75,0.54,8.52,0.00,0.19,1'])
(21, ['22,1.51966,14.77,3.75,0.29,72.02,0.03,9.00,0.00,0.00,1'])
(22, ['23,1.51736,12.78,3.62,1.29,72.79,0.59,8.70,0.00,0.00,1'])
(23, ['24,1.51751,12.81,3.57,1.35,73.02,0.62,8.59,0.00,0.00,1'])
(24, ['25,1.51720,13.38,3.50,1.15,72.85,0.50,8.43,0.00,0.00,1'])
(25, ['26,1.51764,12.98,3.54,1.21,73.00,0.65,8.53,0.00,0.00,1'])
(26, ['27,1.51793,13.21,3.48,1.41,72.64,0.59,8.43,0.00,0.00,1'])
(27, ['28,1.51721,12.87,3.48,1.33,73.04,0.56,8.43,0.00,0.00,1'])
(28, ['29,1.51768,12.56,3.52,1.43,73.15,0.57,8.54,0.00,0.00,1'])
(29, ['30,1.51784,13.08,3.49,1.28,72.86,0.60,8.49,0.00,0.00,1'])
(30, ['31,1.51768,12.65,3.56,1.30,73.08,0.61,8.69,0.00,0.14,1'])
(31, ['32,1.51747,12.84,3.50,1.14,73.27,0.56,8.55,0.00,0.00,1'])
(32, ['33,1.51775,12.85,3.48,1.23,72.97,0.61,8.56,0.09,0.22,1'])
(33, ['34,1.51753,12.57,3.47,1.38,73.39,0.60,8.55,0.00,0.06,1'])
(34, ['35,1.51783,12.69,3.54,1.34,72.95,0.57,8.75,0.00,0.00,1'])
(35, ['36,1.51567,13.29,3.45,1.21,72.74,0.56,8.57,0.00,0.00,1'])
(36, ['37,1.51909,13.89,3.53,1.32,71.81,0.51,8.78,0.11,0.00,1'])
(37, ['38,1.51797,12.74,3.48,1.35,72.96,0.64,8.68,0.00,0.00,1'])
(38, ['39,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1'])
(39, ['40,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1'])
(40, ['41,1.51793,12.79,3.50,1.12,73.03,0.64,8.77,0.00,0.00,1'])
(41, ['42,1.51755,12.71,3.42,1.20,73.20,0.59,8.64,0.00,0.00,1'])
(42, ['43,1.51779,13.21,3.39,1.33,72.76,0.59,8.59,0.00,0.00,1'])
(43, ['44,1.52210,13.73,3.84,0.72,71.76,0.17,9.74,0.00,0.00,1'])
(44, ['45,1.51786,12.73,3.43,1.19,72.95,0.62,8.76,0.00,0.30,1'])
(45, ['46,1.51900,13.49,3.48,1.35,71.95,0.55,9.00,0.00,0.00,1'])
(46, ['47,1.51869,13.19,3.37,1.18,72.72,0.57,8.83,0.00,0.16,1'])
(47, ['48,1.52667,13.99,3.70,0.71,71.57,0.02,9.82,0.00,0.10,1'])
(48, ['49,1.52223,13.21,3.77,0.79,71.99,0.13,10.02,0.00,0.00,1'])
(49, ['50,1.51898,13.58,3.35,1.23,72.08,0.59,8.91,0.00,0.00,1'])
(50, ['51,1.52320,13.72,3.72,0.51,71.75,0.09,10.06,0.00,0.16,1'])
(51, ['52,1.51926,13.20,3.33,1.28,72.36,0.60,9.14,0.00,0.11,1'])
(52, ['53,1.51808,13.43,2.87,1.19,72.84,0.55,9.03,0.00,0.00,1'])
(53, ['54,1.51837,13.14,2.84,1.28,72.85,0.55,9.07,0.00,0.00,1'])
(54, ['55,1.51778,13.21,2.81,1.29,72.98,0.51,9.02,0.00,0.09,1'])
(55, ['56,1.51769,12.45,2.71,1.29,73.70,0.56,9.06,0.00,0.24,1'])
(56, ['57,1.51215,12.99,3.47,1.12,72.98,0.62,8.35,0.00,0.31,1'])
(57, ['58,1.51824,12.87,3.48,1.29,72.95,0.60,8.43,0.00,0.00,1'])
(58, ['59,1.51754,13.48,3.74,1.17,72.99,0.59,8.03,0.00,0.00,1'])
(59, ['60,1.51754,13.39,3.66,1.19,72.79,0.57,8.27,0.00,0.11,1'])
(60, ['61,1.51905,13.60,3.62,1.11,72.64,0.14,8.76,0.00,0.00,1'])
(61, ['62,1.51977,13.81,3.58,1.32,71.72,0.12,8.67,0.69,0.00,1'])
(62, ['63,1.52172,13.51,3.86,0.88,71.79,0.23,9.54,0.00,0.11,1'])
(63, ['64,1.52227,14.17,3.81,0.78,71.35,0.00,9.69,0.00,0.00,1'])
(64, ['65,1.52172,13.48,3.74,0.90,72.01,0.18,9.61,0.00,0.07,1'])
(65, ['66,1.52099,13.69,3.59,1.12,71.96,0.09,9.40,0.00,0.00,1'])
(66, ['67,1.52152,13.05,3.65,0.87,72.22,0.19,9.85,0.00,0.17,1'])
(67, ['68,1.52152,13.05,3.65,0.87,72.32,0.19,9.85,0.00,0.17,1'])
(68, ['69,1.52152,13.12,3.58,0.90,72.20,0.23,9.82,0.00,0.16,1'])
(69, ['70,1.52300,13.31,3.58,0.82,71.99,0.12,10.17,0.00,0.03,1'])
(70, ['71,1.51574,14.86,3.67,1.74,71.87,0.16,7.36,0.00,0.12,2'])
(71, ['72,1.51848,13.64,3.87,1.27,71.96,0.54,8.32,0.00,0.32,2'])
(72, ['73,1.51593,13.09,3.59,1.52,73.10,0.67,7.83,0.00,0.00,2'])
(73, ['74,1.51631,13.34,3.57,1.57,72.87,0.61,7.89,0.00,0.00,2'])
(74, ['75,1.51596,13.02,3.56,1.54,73.11,0.72,7.90,0.00,0.00,2'])
(75, ['76,1.51590,13.02,3.58,1.51,73.12,0.69,7.96,0.00,0.00,2'])
(76, ['77,1.51645,13.44,3.61,1.54,72.39,0.66,8.03,0.00,0.00,2'])
(77, ['78,1.51627,13.00,3.58,1.54,72.83,0.61,8.04,0.00,0.00,2'])
(78, ['79,1.51613,13.92,3.52,1.25,72.88,0.37,7.94,0.00,0.14,2'])
(79, ['80,1.51590,12.82,3.52,1.90,72.86,0.69,7.97,0.00,0.00,2'])
(80, ['81,1.51592,12.86,3.52,2.12,72.66,0.69,7.97,0.00,0.00,2'])
(81, ['82,1.51593,13.25,3.45,1.43,73.17,0.61,7.86,0.00,0.00,2'])
(82, ['83,1.51646,13.41,3.55,1.25,72.81,0.68,8.10,0.00,0.00,2'])
(83, ['84,1.51594,13.09,3.52,1.55,72.87,0.68,8.05,0.00,0.09,2'])
(84, ['85,1.51409,14.25,3.09,2.08,72.28,1.10,7.08,0.00,0.00,2'])
(85, ['86,1.51625,13.36,3.58,1.49,72.72,0.45,8.21,0.00,0.00,2'])
(86, ['87,1.51569,13.24,3.49,1.47,73.25,0.38,8.03,0.00,0.00,2'])
(87, ['88,1.51645,13.40,3.49,1.52,72.65,0.67,8.08,0.00,0.10,2'])
(88, ['89,1.51618,13.01,3.50,1.48,72.89,0.60,8.12,0.00,0.00,2'])
(89, ['90,1.51640,12.55,3.48,1.87,73.23,0.63,8.08,0.00,0.09,2'])
(90, ['91,1.51841,12.93,3.74,1.11,72.28,0.64,8.96,0.00,0.22,2'])
(91, ['92,1.51605,12.90,3.44,1.45,73.06,0.44,8.27,0.00,0.00,2'])
(92, ['93,1.51588,13.12,3.41,1.58,73.26,0.07,8.39,0.00,0.19,2'])
(93, ['94,1.51590,13.24,3.34,1.47,73.10,0.39,8.22,0.00,0.00,2'])
(94, ['95,1.51629,12.71,3.33,1.49,73.28,0.67,8.24,0.00,0.00,2'])
(95, ['96,1.51860,13.36,3.43,1.43,72.26,0.51,8.60,0.00,0.00,2'])
(96, ['97,1.51841,13.02,3.62,1.06,72.34,0.64,9.13,0.00,0.15,2'])
(97, ['98,1.51743,12.20,3.25,1.16,73.55,0.62,8.90,0.00,0.24,2'])
(98, ['99,1.51689,12.67,2.88,1.71,73.21,0.73,8.54,0.00,0.00,2'])
(99, ['100,1.51811,12.96,2.96,1.43,72.92,0.60,8.79,0.14,0.00,2'])
(100, ['101,1.51655,12.75,2.85,1.44,73.27,0.57,8.79,0.11,0.22,2'])
(101, ['102,1.51730,12.35,2.72,1.63,72.87,0.70,9.23,0.00,0.00,2'])
(102, ['103,1.51820,12.62,2.76,0.83,73.81,0.35,9.42,0.00,0.20,2'])
(103, ['104,1.52725,13.80,3.15,0.66,70.57,0.08,11.64,0.00,0.00,2'])
(104, ['105,1.52410,13.83,2.90,1.17,71.15,0.08,10.79,0.00,0.00,2'])
(105, ['106,1.52475,11.45,0.00,1.88,72.19,0.81,13.24,0.00,0.34,2'])
(106, ['107,1.53125,10.73,0.00,2.10,69.81,0.58,13.30,3.15,0.28,2'])
(107, ['108,1.53393,12.30,0.00,1.00,70.16,0.12,16.19,0.00,0.24,2'])
(108, ['109,1.52222,14.43,0.00,1.00,72.67,0.10,11.52,0.00,0.08,2'])
(109, ['110,1.51818,13.72,0.00,0.56,74.45,0.00,10.99,0.00,0.00,2'])
(110, ['111,1.52664,11.23,0.00,0.77,73.21,0.00,14.68,0.00,0.00,2'])
(111, ['112,1.52739,11.02,0.00,0.75,73.08,0.00,14.96,0.00,0.00,2'])
(112, ['113,1.52777,12.64,0.00,0.67,72.02,0.06,14.40,0.00,0.00,2'])
(113, ['114,1.51892,13.46,3.83,1.26,72.55,0.57,8.21,0.00,0.14,2'])
(114, ['115,1.51847,13.10,3.97,1.19,72.44,0.60,8.43,0.00,0.00,2'])
(115, ['116,1.51846,13.41,3.89,1.33,72.38,0.51,8.28,0.00,0.00,2'])
(116, ['117,1.51829,13.24,3.90,1.41,72.33,0.55,8.31,0.00,0.10,2'])
(117, ['118,1.51708,13.72,3.68,1.81,72.06,0.64,7.88,0.00,0.00,2'])
(118, ['119,1.51673,13.30,3.64,1.53,72.53,0.65,8.03,0.00,0.29,2'])
(119, ['120,1.51652,13.56,3.57,1.47,72.45,0.64,7.96,0.00,0.00,2'])
(120, ['121,1.51844,13.25,3.76,1.32,72.40,0.58,8.42,0.00,0.00,2'])
(121, ['122,1.51663,12.93,3.54,1.62,72.96,0.64,8.03,0.00,0.21,2'])
(122, ['123,1.51687,13.23,3.54,1.48,72.84,0.56,8.10,0.00,0.00,2'])
(123, ['124,1.51707,13.48,3.48,1.71,72.52,0.62,7.99,0.00,0.00,2'])
(124, ['125,1.52177,13.20,3.68,1.15,72.75,0.54,8.52,0.00,0.00,2'])
(125, ['126,1.51872,12.93,3.66,1.56,72.51,0.58,8.55,0.00,0.12,2'])
(126, ['127,1.51667,12.94,3.61,1.26,72.75,0.56,8.60,0.00,0.00,2'])
(127, ['128,1.52081,13.78,2.28,1.43,71.99,0.49,9.85,0.00,0.17,2'])
(128, ['129,1.52068,13.55,2.09,1.67,72.18,0.53,9.57,0.27,0.17,2'])
(129, ['130,1.52020,13.98,1.35,1.63,71.76,0.39,10.56,0.00,0.18,2'])
(130, ['131,1.52177,13.75,1.01,1.36,72.19,0.33,11.14,0.00,0.00,2'])
(131, ['132,1.52614,13.70,0.00,1.36,71.24,0.19,13.44,0.00,0.10,2'])
(132, ['133,1.51813,13.43,3.98,1.18,72.49,0.58,8.15,0.00,0.00,2'])
(133, ['134,1.51800,13.71,3.93,1.54,71.81,0.54,8.21,0.00,0.15,2'])
(134, ['135,1.51811,13.33,3.85,1.25,72.78,0.52,8.12,0.00,0.00,2'])
(135, ['136,1.51789,13.19,3.90,1.30,72.33,0.55,8.44,0.00,0.28,2'])
(136, ['137,1.51806,13.00,3.80,1.08,73.07,0.56,8.38,0.00,0.12,2'])
(137, ['138,1.51711,12.89,3.62,1.57,72.96,0.61,8.11,0.00,0.00,2'])
(138, ['139,1.51674,12.79,3.52,1.54,73.36,0.66,7.90,0.00,0.00,2'])
(139, ['140,1.51674,12.87,3.56,1.64,73.14,0.65,7.99,0.00,0.00,2'])
(140, ['141,1.51690,13.33,3.54,1.61,72.54,0.68,8.11,0.00,0.00,2'])
(141, ['142,1.51851,13.20,3.63,1.07,72.83,0.57,8.41,0.09,0.17,2'])
(142, ['143,1.51662,12.85,3.51,1.44,73.01,0.68,8.23,0.06,0.25,2'])
(143, ['144,1.51709,13.00,3.47,1.79,72.72,0.66,8.18,0.00,0.00,2'])
(144, ['145,1.51660,12.99,3.18,1.23,72.97,0.58,8.81,0.00,0.24,2'])
(145, ['146,1.51839,12.85,3.67,1.24,72.57,0.62,8.68,0.00,0.35,2'])
(146, ['147,1.51769,13.65,3.66,1.11,72.77,0.11,8.60,0.00,0.00,3'])
(147, ['148,1.51610,13.33,3.53,1.34,72.67,0.56,8.33,0.00,0.00,3'])
(148, ['149,1.51670,13.24,3.57,1.38,72.70,0.56,8.44,0.00,0.10,3'])
(149, ['150,1.51643,12.16,3.52,1.35,72.89,0.57,8.53,0.00,0.00,3'])
(150, ['151,1.51665,13.14,3.45,1.76,72.48,0.60,8.38,0.00,0.17,3'])
(151, ['152,1.52127,14.32,3.90,0.83,71.50,0.00,9.49,0.00,0.00,3'])
(152, ['153,1.51779,13.64,3.65,0.65,73.00,0.06,8.93,0.00,0.00,3'])
(153, ['154,1.51610,13.42,3.40,1.22,72.69,0.59,8.32,0.00,0.00,3'])
(154, ['155,1.51694,12.86,3.58,1.31,72.61,0.61,8.79,0.00,0.00,3'])
(155, ['156,1.51646,13.04,3.40,1.26,73.01,0.52,8.58,0.00,0.00,3'])
(156, ['157,1.51655,13.41,3.39,1.28,72.64,0.52,8.65,0.00,0.00,3'])
(157, ['158,1.52121,14.03,3.76,0.58,71.79,0.11,9.65,0.00,0.00,3'])
(158, ['159,1.51776,13.53,3.41,1.52,72.04,0.58,8.79,0.00,0.00,3'])
(159, ['160,1.51796,13.50,3.36,1.63,71.94,0.57,8.81,0.00,0.09,3'])
(160, ['161,1.51832,13.33,3.34,1.54,72.14,0.56,8.99,0.00,0.00,3'])
(161, ['162,1.51934,13.64,3.54,0.75,72.65,0.16,8.89,0.15,0.24,3'])
(162, ['163,1.52211,14.19,3.78,0.91,71.36,0.23,9.14,0.00,0.37,3'])
(163, ['164,1.51514,14.01,2.68,3.50,69.89,1.68,5.87,2.20,0.00,5'])
(164, ['165,1.51915,12.73,1.85,1.86,72.69,0.60,10.09,0.00,0.00,5'])
(165, ['166,1.52171,11.56,1.88,1.56,72.86,0.47,11.41,0.00,0.00,5'])
(166, ['167,1.52151,11.03,1.71,1.56,73.44,0.58,11.62,0.00,0.00,5'])
(167, ['168,1.51969,12.64,0.00,1.65,73.75,0.38,11.53,0.00,0.00,5'])
(168, ['169,1.51666,12.86,0.00,1.83,73.88,0.97,10.17,0.00,0.00,5'])
(169, ['170,1.51994,13.27,0.00,1.76,73.03,0.47,11.32,0.00,0.00,5'])
(170, ['171,1.52369,13.44,0.00,1.58,72.22,0.32,12.24,0.00,0.00,5'])
(171, ['172,1.51316,13.02,0.00,3.04,70.48,6.21,6.96,0.00,0.00,5'])
(172, ['173,1.51321,13.00,0.00,3.02,70.70,6.21,6.93,0.00,0.00,5'])
(173, ['174,1.52043,13.38,0.00,1.40,72.25,0.33,12.50,0.00,0.00,5'])
(174, ['175,1.52058,12.85,1.61,2.17,72.18,0.76,9.70,0.24,0.51,5'])
(175, ['176,1.52119,12.97,0.33,1.51,73.39,0.13,11.27,0.00,0.28,5'])
(176, ['177,1.51905,14.00,2.39,1.56,72.37,0.00,9.57,0.00,0.00,6'])
(177, ['178,1.51937,13.79,2.41,1.19,72.76,0.00,9.77,0.00,0.00,6'])
(178, ['179,1.51829,14.46,2.24,1.62,72.38,0.00,9.26,0.00,0.00,6'])
(179, ['180,1.51852,14.09,2.19,1.66,72.67,0.00,9.32,0.00,0.00,6'])
(180, ['181,1.51299,14.40,1.74,1.54,74.55,0.00,7.59,0.00,0.00,6'])
(181, ['182,1.51888,14.99,0.78,1.74,72.50,0.00,9.95,0.00,0.00,6'])
(182, ['183,1.51916,14.15,0.00,2.09,72.74,0.00,10.88,0.00,0.00,6'])
(183, ['184,1.51969,14.56,0.00,0.56,73.48,0.00,11.22,0.00,0.00,6'])
(184, ['185,1.51115,17.38,0.00,0.34,75.41,0.00,6.65,0.00,0.00,6'])
(185, ['186,1.51131,13.69,3.20,1.81,72.81,1.76,5.43,1.19,0.00,7'])
(186, ['187,1.51838,14.32,3.26,2.22,71.25,1.46,5.79,1.63,0.00,7'])
(187, ['188,1.52315,13.44,3.34,1.23,72.38,0.60,8.83,0.00,0.00,7'])
(188, ['189,1.52247,14.86,2.20,2.06,70.26,0.76,9.76,0.00,0.00,7'])
(189, ['190,1.52365,15.79,1.83,1.31,70.43,0.31,8.61,1.68,0.00,7'])
(190, ['191,1.51613,13.88,1.78,1.79,73.10,0.00,8.67,0.76,0.00,7'])
(191, ['192,1.51602,14.85,0.00,2.38,73.28,0.00,8.76,0.64,0.09,7'])
(192, ['193,1.51623,14.20,0.00,2.79,73.46,0.04,9.04,0.40,0.09,7'])
(193, ['194,1.51719,14.75,0.00,2.00,73.02,0.00,8.53,1.59,0.08,7'])
(194, ['195,1.51683,14.56,0.00,1.98,73.29,0.00,8.52,1.57,0.07,7'])
(195, ['196,1.51545,14.14,0.00,2.68,73.39,0.08,9.07,0.61,0.05,7'])
(196, ['197,1.51556,13.87,0.00,2.54,73.23,0.14,9.41,0.81,0.01,7'])
(197, ['198,1.51727,14.70,0.00,2.34,73.28,0.00,8.95,0.66,0.00,7'])
(198, ['199,1.51531,14.38,0.00,2.66,73.10,0.04,9.08,0.64,0.00,7'])
(199, ['200,1.51609,15.01,0.00,2.51,73.05,0.05,8.83,0.53,0.00,7'])
(200, ['201,1.51508,15.15,0.00,2.25,73.50,0.00,8.34,0.63,0.00,7'])
(201, ['202,1.51653,11.95,0.00,1.19,75.18,2.70,8.93,0.00,0.00,7'])
(202, ['203,1.51514,14.85,0.00,2.42,73.72,0.00,8.39,0.56,0.00,7'])
(203, ['204,1.51658,14.80,0.00,1.99,73.11,0.00,8.28,1.71,0.00,7'])

(204, ['205,1.51617,14.95,0.00,2.27,73.30,0.00,8.71,0.67,0.00,7'])
(205, ['206,1.51732,14.95,0.00,1.80,72.99,0.00,8.61,1.55,0.00,7'])
(206, ['207,1.51645,14.94,0.00,1.87,73.11,0.00,8.67,1.38,0.00,7'])
(207, ['208,1.51831,14.39,0.00,1.82,72.86,1.41,6.47,2.88,0.00,7'])
(208, ['209,1.51640,14.37,0.00,2.74,72.85,0.00,9.45,0.54,0.00,7'])
(209, ['210,1.51623,14.14,0.00,2.88,72.61,0.08,9.18,1.06,0.00,7'])
(210, ['211,1.51685,14.92,0.00,1.99,73.06,0.00,8.40,1.59,0.00,7'])
(211, ['212,1.52065,14.36,0.00,2.02,73.42,0.00,8.44,1.64,0.00,7'])
(212, ['213,1.51651,14.38,0.00,1.94,73.61,0.00,8.48,1.57,0.00,7'])
(213, ['214,1.51711,14.23,0.00,2.08,73.36,0.00,8.62,1.67,0.00,7'])
all the data inserted

In [82]:
mydb = connection.connect(host="localhost", database='sudhanshu12345', user="root", passwd="1234", use_pure=True)
cur= mydb.cursor()
with open('glass.data',"r") as data:
    next(data)
    data_csv= csv.reader(data, delimiter="\n")
    print(data_csv)
    for i in enumerate(data_csv):
        print(i)
        for j in i[1]:
            print(type(j))
            cur.execute('insert into sudhanshu12345.GlassData1 values ({data})'.format(data=(j)))
    print("all the data inserted")
mydb.commit()

<_csv.reader object at 0x000001E52FCD4F40>
(0, ['1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.00,1'])
<class 'str'>
(1, ['2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.00,0.00,1'])
<class 'str'>
(2, ['3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.00,0.00,1'])
<class 'str'>
(3, ['4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.00,0.00,1'])
<class 'str'>
(4, ['5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.00,0.00,1'])
<class 'str'>
(5, ['6,1.51596,12.79,3.61,1.62,72.97,0.64,8.07,0.00,0.26,1'])
<class 'str'>
(6, ['7,1.51743,13.30,3.60,1.14,73.09,0.58,8.17,0.00,0.00,1'])
<class 'str'>
(7, ['8,1.51756,13.15,3.61,1.05,73.24,0.57,8.24,0.00,0.00,1'])
<class 'str'>
(8, ['9,1.51918,14.04,3.58,1.37,72.08,0.56,8.30,0.00,0.00,1'])
<class 'str'>
(9, ['10,1.51755,13.00,3.60,1.36,72.99,0.57,8.40,0.00,0.11,1'])
<class 'str'>
(10, ['11,1.51571,12.72,3.46,1.56,73.20,0.67,8.09,0.00,0.24,1'])
<class 'str'>
(11, ['12,1.51763,12.80,3.66,1.27,73.01,0.60,8.56,0.00,0.00,1'])
<class 'str'>
(12, ['13,1.51589,12.88,3.43,1.40,73.28,0.69,8.05,0.00,0.24,1'])
<class 'str'>
(13, ['14,1.51748,12.86,3.56,1.27,73.21,0.54,8.38,0.00,0.17,1'])
<class 'str'>
(14, ['15,1.51763,12.61,3.59,1.31,73.29,0.58,8.50,0.00,0.00,1'])
<class 'str'>
(15, ['16,1.51761,12.81,3.54,1.23,73.24,0.58,8.39,0.00,0.00,1'])
<class 'str'>
(16, ['17,1.51784,12.68,3.67,1.16,73.11,0.61,8.70,0.00,0.00,1'])
<class 'str'>
(17, ['18,1.52196,14.36,3.85,0.89,71.36,0.15,9.15,0.00,0.00,1'])
<class 'str'>
(18, ['19,1.51911,13.90,3.73,1.18,72.12,0.06,8.89,0.00,0.00,1'])
<class 'str'>
(19, ['20,1.51735,13.02,3.54,1.69,72.73,0.54,8.44,0.00,0.07,1'])
<class 'str'>
(20, ['21,1.51750,12.82,3.55,1.49,72.75,0.54,8.52,0.00,0.19,1'])
<class 'str'>
(21, ['22,1.51966,14.77,3.75,0.29,72.02,0.03,9.00,0.00,0.00,1'])
<class 'str'>
(22, ['23,1.51736,12.78,3.62,1.29,72.79,0.59,8.70,0.00,0.00,1'])
<class 'str'>
(23, ['24,1.51751,12.81,3.57,1.35,73.02,0.62,8.59,0.00,0.00,1'])
<class 'str'>
(24, ['25,1.51720,13.38,3.50,1.15,72.85,0.50,8.43,0.00,0.00,1'])
<class 'str'>
(25, ['26,1.51764,12.98,3.54,1.21,73.00,0.65,8.53,0.00,0.00,1'])
<class 'str'>
(26, ['27,1.51793,13.21,3.48,1.41,72.64,0.59,8.43,0.00,0.00,1'])
<class 'str'>
(27, ['28,1.51721,12.87,3.48,1.33,73.04,0.56,8.43,0.00,0.00,1'])
<class 'str'>
(28, ['29,1.51768,12.56,3.52,1.43,73.15,0.57,8.54,0.00,0.00,1'])
<class 'str'>
(29, ['30,1.51784,13.08,3.49,1.28,72.86,0.60,8.49,0.00,0.00,1'])
<class 'str'>
(30, ['31,1.51768,12.65,3.56,1.30,73.08,0.61,8.69,0.00,0.14,1'])
<class 'str'>
(31, ['32,1.51747,12.84,3.50,1.14,73.27,0.56,8.55,0.00,0.00,1'])
<class 'str'>
(32, ['33,1.51775,12.85,3.48,1.23,72.97,0.61,8.56,0.09,0.22,1'])
<class 'str'>
(33, ['34,1.51753,12.57,3.47,1.38,73.39,0.60,8.55,0.00,0.06,1'])
<class 'str'>
(34, ['35,1.51783,12.69,3.54,1.34,72.95,0.57,8.75,0.00,0.00,1'])
<class 'str'>
(35, ['36,1.51567,13.29,3.45,1.21,72.74,0.56,8.57,0.00,0.00,1'])
<class 'str'>
(36, ['37,1.51909,13.89,3.53,1.32,71.81,0.51,8.78,0.11,0.00,1'])
<class 'str'>
(37, ['38,1.51797,12.74,3.48,1.35,72.96,0.64,8.68,0.00,0.00,1'])
<class 'str'>
(38, ['39,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1'])
<class 'str'>
(39, ['40,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1'])
<class 'str'>
(40, ['41,1.51793,12.79,3.50,1.12,73.03,0.64,8.77,0.00,0.00,1'])
<class 'str'>
(41, ['42,1.51755,12.71,3.42,1.20,73.20,0.59,8.64,0.00,0.00,1'])
<class 'str'>
(42, ['43,1.51779,13.21,3.39,1.33,72.76,0.59,8.59,0.00,0.00,1'])
<class 'str'>
(43, ['44,1.52210,13.73,3.84,0.72,71.76,0.17,9.74,0.00,0.00,1'])
<class 'str'>
(44, ['45,1.51786,12.73,3.43,1.19,72.95,0.62,8.76,0.00,0.30,1'])
<class 'str'>
(45, ['46,1.51900,13.49,3.48,1.35,71.95,0.55,9.00,0.00,0.00,1'])
<class 'str'>
(46, ['47,1.51869,13.19,3.37,1.18,72.72,0.57,8.83,0.00,0.16,1'])
<class 'str'>
(47, ['48,1.52667,13.99,3.70,0.71,71.57,0.02,9.82,0.00,0.10,1'])
<class 'str'>
(48, ['49,1.52223,13.21,3.77,0.79,71.99,0.13,10.02,0.00,0.00,1'])
<class 'str'>
(49, ['50,1.51898,13.58,3.35,1.23,72.08,0.59,8.91,0.00,0.00,1'])
<class 'str'>
(50, ['51,1.52320,13.72,3.72,0.51,71.75,0.09,10.06,0.00,0.16,1'])
<class 'str'>
(51, ['52,1.51926,13.20,3.33,1.28,72.36,0.60,9.14,0.00,0.11,1'])
<class 'str'>
(52, ['53,1.51808,13.43,2.87,1.19,72.84,0.55,9.03,0.00,0.00,1'])
<class 'str'>
(53, ['54,1.51837,13.14,2.84,1.28,72.85,0.55,9.07,0.00,0.00,1'])
<class 'str'>
(54, ['55,1.51778,13.21,2.81,1.29,72.98,0.51,9.02,0.00,0.09,1'])
<class 'str'>
(55, ['56,1.51769,12.45,2.71,1.29,73.70,0.56,9.06,0.00,0.24,1'])
<class 'str'>
(56, ['57,1.51215,12.99,3.47,1.12,72.98,0.62,8.35,0.00,0.31,1'])
<class 'str'>
(57, ['58,1.51824,12.87,3.48,1.29,72.95,0.60,8.43,0.00,0.00,1'])
<class 'str'>
(58, ['59,1.51754,13.48,3.74,1.17,72.99,0.59,8.03,0.00,0.00,1'])
<class 'str'>
(59, ['60,1.51754,13.39,3.66,1.19,72.79,0.57,8.27,0.00,0.11,1'])
<class 'str'>
(60, ['61,1.51905,13.60,3.62,1.11,72.64,0.14,8.76,0.00,0.00,1'])
<class 'str'>
(61, ['62,1.51977,13.81,3.58,1.32,71.72,0.12,8.67,0.69,0.00,1'])
<class 'str'>
(62, ['63,1.52172,13.51,3.86,0.88,71.79,0.23,9.54,0.00,0.11,1'])
<class 'str'>
(63, ['64,1.52227,14.17,3.81,0.78,71.35,0.00,9.69,0.00,0.00,1'])
<class 'str'>
(64, ['65,1.52172,13.48,3.74,0.90,72.01,0.18,9.61,0.00,0.07,1'])
<class 'str'>
(65, ['66,1.52099,13.69,3.59,1.12,71.96,0.09,9.40,0.00,0.00,1'])
<class 'str'>
(66, ['67,1.52152,13.05,3.65,0.87,72.22,0.19,9.85,0.00,0.17,1'])
<class 'str'>
(67, ['68,1.52152,13.05,3.65,0.87,72.32,0.19,9.85,0.00,0.17,1'])
<class 'str'>
(68, ['69,1.52152,13.12,3.58,0.90,72.20,0.23,9.82,0.00,0.16,1'])
<class 'str'>
(69, ['70,1.52300,13.31,3.58,0.82,71.99,0.12,10.17,0.00,0.03,1'])
<class 'str'>
(70, ['71,1.51574,14.86,3.67,1.74,71.87,0.16,7.36,0.00,0.12,2'])
<class 'str'>
(71, ['72,1.51848,13.64,3.87,1.27,71.96,0.54,8.32,0.00,0.32,2'])
<class 'str'>
(72, ['73,1.51593,13.09,3.59,1.52,73.10,0.67,7.83,0.00,0.00,2'])
<class 'str'>
(73, ['74,1.51631,13.34,3.57,1.57,72.87,0.61,7.89,0.00,0.00,2'])
<class 'str'>
(74, ['75,1.51596,13.02,3.56,1.54,73.11,0.72,7.90,0.00,0.00,2'])
<class 'str'>
(75, ['76,1.51590,13.02,3.58,1.51,73.12,0.69,7.96,0.00,0.00,2'])
<class 'str'>
(76, ['77,1.51645,13.44,3.61,1.54,72.39,0.66,8.03,0.00,0.00,2'])
<class 'str'>
(77, ['78,1.51627,13.00,3.58,1.54,72.83,0.61,8.04,0.00,0.00,2'])
<class 'str'>
(78, ['79,1.51613,13.92,3.52,1.25,72.88,0.37,7.94,0.00,0.14,2'])
<class 'str'>
(79, ['80,1.51590,12.82,3.52,1.90,72.86,0.69,7.97,0.00,0.00,2'])
<class 'str'>
(80, ['81,1.51592,12.86,3.52,2.12,72.66,0.69,7.97,0.00,0.00,2'])
<class 'str'>
(81, ['82,1.51593,13.25,3.45,1.43,73.17,0.61,7.86,0.00,0.00,2'])
<class 'str'>
(82, ['83,1.51646,13.41,3.55,1.25,72.81,0.68,8.10,0.00,0.00,2'])
<class 'str'>
(83, ['84,1.51594,13.09,3.52,1.55,72.87,0.68,8.05,0.00,0.09,2'])
<class 'str'>
(84, ['85,1.51409,14.25,3.09,2.08,72.28,1.10,7.08,0.00,0.00,2'])
<class 'str'>
(85, ['86,1.51625,13.36,3.58,1.49,72.72,0.45,8.21,0.00,0.00,2'])
<class 'str'>
(86, ['87,1.51569,13.24,3.49,1.47,73.25,0.38,8.03,0.00,0.00,2'])
<class 'str'>
(87, ['88,1.51645,13.40,3.49,1.52,72.65,0.67,8.08,0.00,0.10,2'])
<class 'str'>
(88, ['89,1.51618,13.01,3.50,1.48,72.89,0.60,8.12,0.00,0.00,2'])
<class 'str'>
(89, ['90,1.51640,12.55,3.48,1.87,73.23,0.63,8.08,0.00,0.09,2'])
<class 'str'>
(90, ['91,1.51841,12.93,3.74,1.11,72.28,0.64,8.96,0.00,0.22,2'])
<class 'str'>
(91, ['92,1.51605,12.90,3.44,1.45,73.06,0.44,8.27,0.00,0.00,2'])
<class 'str'>
(92, ['93,1.51588,13.12,3.41,1.58,73.26,0.07,8.39,0.00,0.19,2'])
<class 'str'>
(93, ['94,1.51590,13.24,3.34,1.47,73.10,0.39,8.22,0.00,0.00,2'])
<class 'str'>
(94, ['95,1.51629,12.71,3.33,1.49,73.28,0.67,8.24,0.00,0.00,2'])
<class 'str'>
(95, ['96,1.51860,13.36,3.43,1.43,72.26,0.51,8.60,0.00,0.00,2'])
<class 'str'>
(96, ['97,1.51841,13.02,3.62,1.06,72.34,0.64,9.13,0.00,0.15,2'])
<class 'str'>
(97, ['98,1.51743,12.20,3.25,1.16,73.55,0.62,8.90,0.00,0.24,2'])
<class 'str'>
(98, ['99,1.51689,12.67,2.88,1.71,73.21,0.73,8.54,0.00,0.00,2'])
<class 'str'>
(99, ['100,1.51811,12.96,2.96,1.43,72.92,0.60,8.79,0.14,0.00,2'])
<class 'str'>
(100, ['101,1.51655,12.75,2.85,1.44,73.27,0.57,8.79,0.11,0.22,2'])
<class 'str'>
(101, ['102,1.51730,12.35,2.72,1.63,72.87,0.70,9.23,0.00,0.00,2'])
<class 'str'>
(102, ['103,1.51820,12.62,2.76,0.83,73.81,0.35,9.42,0.00,0.20,2'])
<class 'str'>
(103, ['104,1.52725,13.80,3.15,0.66,70.57,0.08,11.64,0.00,0.00,2'])
<class 'str'>
(104, ['105,1.52410,13.83,2.90,1.17,71.15,0.08,10.79,0.00,0.00,2'])
<class 'str'>
(105, ['106,1.52475,11.45,0.00,1.88,72.19,0.81,13.24,0.00,0.34,2'])
<class 'str'>
(106, ['107,1.53125,10.73,0.00,2.10,69.81,0.58,13.30,3.15,0.28,2'])
<class 'str'>
(107, ['108,1.53393,12.30,0.00,1.00,70.16,0.12,16.19,0.00,0.24,2'])
<class 'str'>
(108, ['109,1.52222,14.43,0.00,1.00,72.67,0.10,11.52,0.00,0.08,2'])
<class 'str'>
(109, ['110,1.51818,13.72,0.00,0.56,74.45,0.00,10.99,0.00,0.00,2'])
<class 'str'>
(110, ['111,1.52664,11.23,0.00,0.77,73.21,0.00,14.68,0.00,0.00,2'])
<class 'str'>

(111, ['112,1.52739,11.02,0.00,0.75,73.08,0.00,14.96,0.00,0.00,2'])
<class 'str'>
(112, ['113,1.52777,12.64,0.00,0.67,72.02,0.06,14.40,0.00,0.00,2'])
<class 'str'>
(113, ['114,1.51892,13.46,3.83,1.26,72.55,0.57,8.21,0.00,0.14,2'])
<class 'str'>
(114, ['115,1.51847,13.10,3.97,1.19,72.44,0.60,8.43,0.00,0.00,2'])
<class 'str'>
(115, ['116,1.51846,13.41,3.89,1.33,72.38,0.51,8.28,0.00,0.00,2'])
<class 'str'>
(116, ['117,1.51829,13.24,3.90,1.41,72.33,0.55,8.31,0.00,0.10,2'])
<class 'str'>
(117, ['118,1.51708,13.72,3.68,1.81,72.06,0.64,7.88,0.00,0.00,2'])
<class 'str'>
(118, ['119,1.51673,13.30,3.64,1.53,72.53,0.65,8.03,0.00,0.29,2'])
<class 'str'>
(119, ['120,1.51652,13.56,3.57,1.47,72.45,0.64,7.96,0.00,0.00,2'])
<class 'str'>
(120, ['121,1.51844,13.25,3.76,1.32,72.40,0.58,8.42,0.00,0.00,2'])
<class 'str'>
(121, ['122,1.51663,12.93,3.54,1.62,72.96,0.64,8.03,0.00,0.21,2'])
<class 'str'>
(122, ['123,1.51687,13.23,3.54,1.48,72.84,0.56,8.10,0.00,0.00,2'])
<class 'str'>
(123, ['124,1.51707,13.48,3.48,1.71,72.52,0.62,7.99,0.00,0.00,2'])
<class 'str'>
(124, ['125,1.52177,13.20,3.68,1.15,72.75,0.54,8.52,0.00,0.00,2'])
<class 'str'>
(125, ['126,1.51872,12.93,3.66,1.56,72.51,0.58,8.55,0.00,0.12,2'])
<class 'str'>
(126, ['127,1.51667,12.94,3.61,1.26,72.75,0.56,8.60,0.00,0.00,2'])
<class 'str'>
(127, ['128,1.52081,13.78,2.28,1.43,71.99,0.49,9.85,0.00,0.17,2'])
<class 'str'>
(128, ['129,1.52068,13.55,2.09,1.67,72.18,0.53,9.57,0.27,0.17,2'])
<class 'str'>
(129, ['130,1.52020,13.98,1.35,1.63,71.76,0.39,10.56,0.00,0.18,2'])
<class 'str'>
(130, ['131,1.52177,13.75,1.01,1.36,72.19,0.33,11.14,0.00,0.00,2'])
<class 'str'>
(131, ['132,1.52614,13.70,0.00,1.36,71.24,0.19,13.44,0.00,0.10,2'])
<class 'str'>
(132, ['133,1.51813,13.43,3.98,1.18,72.49,0.58,8.15,0.00,0.00,2'])
<class 'str'>
(133, ['134,1.51800,13.71,3.93,1.54,71.81,0.54,8.21,0.00,0.15,2'])
<class 'str'>
(134, ['135,1.51811,13.33,3.85,1.25,72.78,0.52,8.12,0.00,0.00,2'])
<class 'str'>
(135, ['136,1.51789,13.19,3.90,1.30,72.33,0.55,8.44,0.00,0.28,2'])
<class 'str'>
(136, ['137,1.51806,13.00,3.80,1.08,73.07,0.56,8.38,0.00,0.12,2'])
<class 'str'>
(137, ['138,1.51711,12.89,3.62,1.57,72.96,0.61,8.11,0.00,0.00,2'])
<class 'str'>
(138, ['139,1.51674,12.79,3.52,1.54,73.36,0.66,7.90,0.00,0.00,2'])
<class 'str'>
(139, ['140,1.51674,12.87,3.56,1.64,73.14,0.65,7.99,0.00,0.00,2'])
<class 'str'>
(140, ['141,1.51690,13.33,3.54,1.61,72.54,0.68,8.11,0.00,0.00,2'])
<class 'str'>
(141, ['142,1.51851,13.20,3.63,1.07,72.83,0.57,8.41,0.09,0.17,2'])
<class 'str'>
(142, ['143,1.51662,12.85,3.51,1.44,73.01,0.68,8.23,0.06,0.25,2'])
<class 'str'>
(143, ['144,1.51709,13.00,3.47,1.79,72.72,0.66,8.18,0.00,0.00,2'])
<class 'str'>
(144, ['145,1.51660,12.99,3.18,1.23,72.97,0.58,8.81,0.00,0.24,2'])
<class 'str'>
(145, ['146,1.51839,12.85,3.67,1.24,72.57,0.62,8.68,0.00,0.35,2'])
<class 'str'>
(146, ['147,1.51769,13.65,3.66,1.11,72.77,0.11,8.60,0.00,0.00,3'])
<class 'str'>
(147, ['148,1.51610,13.33,3.53,1.34,72.67,0.56,8.33,0.00,0.00,3'])
<class 'str'>
(148, ['149,1.51670,13.24,3.57,1.38,72.70,0.56,8.44,0.00,0.10,3'])
<class 'str'>
(149, ['150,1.51643,12.16,3.52,1.35,72.89,0.57,8.53,0.00,0.00,3'])
<class 'str'>
(150, ['151,1.51665,13.14,3.45,1.76,72.48,0.60,8.38,0.00,0.17,3'])
<class 'str'>
(151, ['152,1.52127,14.32,3.90,0.83,71.50,0.00,9.49,0.00,0.00,3'])
<class 'str'>
(152, ['153,1.51779,13.64,3.65,0.65,73.00,0.06,8.93,0.00,0.00,3'])
<class 'str'>
(153, ['154,1.51610,13.42,3.40,1.22,72.69,0.59,8.32,0.00,0.00,3'])
<class 'str'>
(154, ['155,1.51694,12.86,3.58,1.31,72.61,0.61,8.79,0.00,0.00,3'])
<class 'str'>
(155, ['156,1.51646,13.04,3.40,1.26,73.01,0.52,8.58,0.00,0.00,3'])
<class 'str'>
(156, ['157,1.51655,13.41,3.39,1.28,72.64,0.52,8.65,0.00,0.00,3'])
<class 'str'>
(157, ['158,1.52121,14.03,3.76,0.58,71.79,0.11,9.65,0.00,0.00,3'])
<class 'str'>
(158, ['159,1.51776,13.53,3.41,1.52,72.04,0.58,8.79,0.00,0.00,3'])
<class 'str'>
(159, ['160,1.51796,13.50,3.36,1.63,71.94,0.57,8.81,0.00,0.09,3'])
<class 'str'>
(160, ['161,1.51832,13.33,3.34,1.54,72.14,0.56,8.99,0.00,0.00,3'])
<class 'str'>
(161, ['162,1.51934,13.64,3.54,0.75,72.65,0.16,8.89,0.15,0.24,3'])
<class 'str'>
(162, ['163,1.52211,14.19,3.78,0.91,71.36,0.23,9.14,0.00,0.37,3'])
<class 'str'>
(163, ['164,1.51514,14.01,2.68,3.50,69.89,1.68,5.87,2.20,0.00,5'])
<class 'str'>
(164, ['165,1.51915,12.73,1.85,1.86,72.69,0.60,10.09,0.00,0.00,5'])
<class 'str'>
(165, ['166,1.52171,11.56,1.88,1.56,72.86,0.47,11.41,0.00,0.00,5'])
<class 'str'>
(166, ['167,1.52151,11.03,1.71,1.56,73.44,0.58,11.62,0.00,0.00,5'])
<class 'str'>
(167, ['168,1.51969,12.64,0.00,1.65,73.75,0.38,11.53,0.00,0.00,5'])
<class 'str'>
(168, ['169,1.51666,12.86,0.00,1.83,73.88,0.97,10.17,0.00,0.00,5'])
<class 'str'>
(169, ['170,1.51994,13.27,0.00,1.76,73.03,0.47,11.32,0.00,0.00,5'])
<class 'str'>
(170, ['171,1.52369,13.44,0.00,1.58,72.22,0.32,12.24,0.00,0.00,5'])
<class 'str'>
(171, ['172,1.51316,13.02,0.00,3.04,70.48,6.21,6.96,0.00,0.00,5'])
<class 'str'>
(172, ['173,1.51321,13.00,0.00,3.02,70.70,6.21,6.93,0.00,0.00,5'])
<class 'str'>
(173, ['174,1.52043,13.38,0.00,1.40,72.25,0.33,12.50,0.00,0.00,5'])
<class 'str'>
(174, ['175,1.52058,12.85,1.61,2.17,72.18,0.76,9.70,0.24,0.51,5'])
<class 'str'>
(175, ['176,1.52119,12.97,0.33,1.51,73.39,0.13,11.27,0.00,0.28,5'])
<class 'str'>
(176, ['177,1.51905,14.00,2.39,1.56,72.37,0.00,9.57,0.00,0.00,6'])
<class 'str'>
(177, ['178,1.51937,13.79,2.41,1.19,72.76,0.00,9.77,0.00,0.00,6'])
<class 'str'>
(178, ['179,1.51829,14.46,2.24,1.62,72.38,0.00,9.26,0.00,0.00,6'])
<class 'str'>
(179, ['180,1.51852,14.09,2.19,1.66,72.67,0.00,9.32,0.00,0.00,6'])
<class 'str'>
(180, ['181,1.51299,14.40,1.74,1.54,74.55,0.00,7.59,0.00,0.00,6'])
<class 'str'>
(181, ['182,1.51888,14.99,0.78,1.74,72.50,0.00,9.95,0.00,0.00,6'])
<class 'str'>
(182, ['183,1.51916,14.15,0.00,2.09,72.74,0.00,10.88,0.00,0.00,6'])
<class 'str'>
(183, ['184,1.51969,14.56,0.00,0.56,73.48,0.00,11.22,0.00,0.00,6'])
<class 'str'>
(184, ['185,1.51115,17.38,0.00,0.34,75.41,0.00,6.65,0.00,0.00,6'])
<class 'str'>
(185, ['186,1.51131,13.69,3.20,1.81,72.81,1.76,5.43,1.19,0.00,7'])
<class 'str'>
(186, ['187,1.51838,14.32,3.26,2.22,71.25,1.46,5.79,1.63,0.00,7'])
<class 'str'>
(187, ['188,1.52315,13.44,3.34,1.23,72.38,0.60,8.83,0.00,0.00,7'])
<class 'str'>
(188, ['189,1.52247,14.86,2.20,2.06,70.26,0.76,9.76,0.00,0.00,7'])
<class 'str'>
(189, ['190,1.52365,15.79,1.83,1.31,70.43,0.31,8.61,1.68,0.00,7'])
<class 'str'>
(190, ['191,1.51613,13.88,1.78,1.79,73.10,0.00,8.67,0.76,0.00,7'])
<class 'str'>
(191, ['192,1.51602,14.85,0.00,2.38,73.28,0.00,8.76,0.64,0.09,7'])
<class 'str'>
(192, ['193,1.51623,14.20,0.00,2.79,73.46,0.04,9.04,0.40,0.09,7'])
<class 'str'>
(193, ['194,1.51719,14.75,0.00,2.00,73.02,0.00,8.53,1.59,0.08,7'])
<class 'str'>
(194, ['195,1.51683,14.56,0.00,1.98,73.29,0.00,8.52,1.57,0.07,7'])
<class 'str'>
(195, ['196,1.51545,14.14,0.00,2.68,73.39,0.08,9.07,0.61,0.05,7'])
<class 'str'>
(196, ['197,1.51556,13.87,0.00,2.54,73.23,0.14,9.41,0.81,0.01,7'])
<class 'str'>
(197, ['198,1.51727,14.70,0.00,2.34,73.28,0.00,8.95,0.66,0.00,7'])
<class 'str'>
(198, ['199,1.51531,14.38,0.00,2.66,73.10,0.04,9.08,0.64,0.00,7'])
<class 'str'>
(199, ['200,1.51609,15.01,0.00,2.51,73.05,0.05,8.83,0.53,0.00,7'])
<class 'str'>
(200, ['201,1.51508,15.15,0.00,2.25,73.50,0.00,8.34,0.63,0.00,7'])
<class 'str'>
(201, ['202,1.51653,11.95,0.00,1.19,75.18,2.70,8.93,0.00,0.00,7'])
<class 'str'>
(202, ['203,1.51514,14.85,0.00,2.42,73.72,0.00,8.39,0.56,0.00,7'])
<class 'str'>
(203, ['204,1.51658,14.80,0.00,1.99,73.11,0.00,8.28,1.71,0.00,7'])
<class 'str'>
(204, ['205,1.51617,14.95,0.00,2.27,73.30,0.00,8.71,0.67,0.00,7'])
<class 'str'>
(205, ['206,1.51732,14.95,0.00,1.80,72.99,0.00,8.61,1.55,0.00,7'])
<class 'str'>
(206, ['207,1.51645,14.94,0.00,1.87,73.11,0.00,8.67,1.38,0.00,7'])
<class 'str'>
(207, ['208,1.51831,14.39,0.00,1.82,72.86,1.41,6.47,2.88,0.00,7'])
<class 'str'>
(208, ['209,1.51640,14.37,0.00,2.74,72.85,0.00,9.45,0.54,0.00,7'])
<class 'str'>
(209, ['210,1.51623,14.14,0.00,2.88,72.61,0.08,9.18,1.06,0.00,7'])
<class 'str'>
(210, ['211,1.51685,14.92,0.00,1.99,73.06,0.00,8.40,1.59,0.00,7'])
<class 'str'>
(211, ['212,1.52065,14.36,0.00,2.02,73.42,0.00,8.44,1.64,0.00,7'])
<class 'str'>
(212, ['213,1.51651,14.38,0.00,1.94,73.61,0.00,8.48,1.57,0.00,7'])
<class 'str'>
(213, ['214,1.51711,14.23,0.00,2.08,73.36,0.00,8.62,1.67,0.00,7'])
<class 'str'>
all the data inserted

In [83]:
mydb = connection.connect(host="localhost", database='sudhanshu12345', user="root", passwd="1234", use_pure=True)
cur= mydb.cursor()
with open('glass.data',"r") as data:
    next(data)
    data_csv= csv.reader(data, delimiter="\n")
    print(data_csv)
    for j in data_csv:
        print(j)
print("all the data inserted")
mydb.commit()

<_csv.reader object at 0x000001E5319BF160>
['1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.00,1']
['2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.00,0.00,1']
['3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.00,0.00,1']
['4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.00,0.00,1']
['5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.00,0.00,1']
['6,1.51596,12.79,3.61,1.62,72.97,0.64,8.07,0.00,0.26,1']
['7,1.51743,13.30,3.60,1.14,73.09,0.58,8.17,0.00,0.00,1']
['8,1.51756,13.15,3.61,1.05,73.24,0.57,8.24,0.00,0.00,1']
['9,1.51918,14.04,3.58,1.37,72.08,0.56,8.30,0.00,0.00,1']
['10,1.51755,13.00,3.60,1.36,72.99,0.57,8.40,0.00,0.11,1']
['11,1.51571,12.72,3.46,1.56,73.20,0.67,8.09,0.00,0.24,1']
['12,1.51763,12.80,3.66,1.27,73.01,0.60,8.56,0.00,0.00,1']
['13,1.51589,12.88,3.43,1.40,73.28,0.69,8.05,0.00,0.24,1']
['14,1.51748,12.86,3.56,1.27,73.21,0.54,8.38,0.00,0.17,1']
['15,1.51763,12.61,3.59,1.31,73.29,0.58,8.50,0.00,0.00,1']
['16,1.51761,12.81,3.54,1.23,73.24,0.58,8.39,0.00,0.00,1']
['17,1.51784,12.68,3.67,1.16,73.11,0.61,8.70,0.00,0.00,1']
['18,1.52196,14.36,3.85,0.89,71.36,0.15,9.15,0.00,0.00,1']
['19,1.51911,13.90,3.73,1.18,72.12,0.06,8.89,0.00,0.00,1']
['20,1.51735,13.02,3.54,1.69,72.73,0.54,8.44,0.00,0.07,1']
['21,1.51750,12.82,3.55,1.49,72.75,0.54,8.52,0.00,0.19,1']
['22,1.51966,14.77,3.75,0.29,72.02,0.03,9.00,0.00,0.00,1']
['23,1.51736,12.78,3.62,1.29,72.79,0.59,8.70,0.00,0.00,1']
['24,1.51751,12.81,3.57,1.35,73.02,0.62,8.59,0.00,0.00,1']
['25,1.51720,13.38,3.50,1.15,72.85,0.50,8.43,0.00,0.00,1']
['26,1.51764,12.98,3.54,1.21,73.00,0.65,8.53,0.00,0.00,1']
['27,1.51793,13.21,3.48,1.41,72.64,0.59,8.43,0.00,0.00,1']
['28,1.51721,12.87,3.48,1.33,73.04,0.56,8.43,0.00,0.00,1']
['29,1.51768,12.56,3.52,1.43,73.15,0.57,8.54,0.00,0.00,1']
['30,1.51784,13.08,3.49,1.28,72.86,0.60,8.49,0.00,0.00,1']
['31,1.51768,12.65,3.56,1.30,73.08,0.61,8.69,0.00,0.14,1']
['32,1.51747,12.84,3.50,1.14,73.27,0.56,8.55,0.00,0.00,1']
['33,1.51775,12.85,3.48,1.23,72.97,0.61,8.56,0.09,0.22,1']
['34,1.51753,12.57,3.47,1.38,73.39,0.60,8.55,0.00,0.06,1']
['35,1.51783,12.69,3.54,1.34,72.95,0.57,8.75,0.00,0.00,1']
['36,1.51567,13.29,3.45,1.21,72.74,0.56,8.57,0.00,0.00,1']
['37,1.51909,13.89,3.53,1.32,71.81,0.51,8.78,0.11,0.00,1']
['38,1.51797,12.74,3.48,1.35,72.96,0.64,8.68,0.00,0.00,1']
['39,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1']
['40,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1']
['41,1.51793,12.79,3.50,1.12,73.03,0.64,8.77,0.00,0.00,1']
['42,1.51755,12.71,3.42,1.20,73.20,0.59,8.64,0.00,0.00,1']
['43,1.51779,13.21,3.39,1.33,72.76,0.59,8.59,0.00,0.00,1']
['44,1.52210,13.73,3.84,0.72,71.76,0.17,9.74,0.00,0.00,1']
['45,1.51786,12.73,3.43,1.19,72.95,0.62,8.76,0.00,0.30,1']
['46,1.51900,13.49,3.48,1.35,71.95,0.55,9.00,0.00,0.00,1']
['47,1.51869,13.19,3.37,1.18,72.72,0.57,8.83,0.00,0.16,1']
['48,1.52667,13.99,3.70,0.71,71.57,0.02,9.82,0.00,0.10,1']
['49,1.52223,13.21,3.77,0.79,71.99,0.13,10.02,0.00,0.00,1']
['50,1.51898,13.58,3.35,1.23,72.08,0.59,8.91,0.00,0.00,1']
['51,1.52320,13.72,3.72,0.51,71.75,0.09,10.06,0.00,0.16,1']
['52,1.51926,13.20,3.33,1.28,72.36,0.60,9.14,0.00,0.11,1']
['53,1.51808,13.43,2.87,1.19,72.84,0.55,9.03,0.00,0.00,1']
['54,1.51837,13.14,2.84,1.28,72.85,0.55,9.07,0.00,0.00,1']
['55,1.51778,13.21,2.81,1.29,72.98,0.51,9.02,0.00,0.09,1']
['56,1.51769,12.45,2.71,1.29,73.70,0.56,9.06,0.00,0.24,1']
['57,1.51215,12.99,3.47,1.12,72.98,0.62,8.35,0.00,0.31,1']
['58,1.51824,12.87,3.48,1.29,72.95,0.60,8.43,0.00,0.00,1']
['59,1.51754,13.48,3.74,1.17,72.99,0.59,8.03,0.00,0.00,1']
['60,1.51754,13.39,3.66,1.19,72.79,0.57,8.27,0.00,0.11,1']
['61,1.51905,13.60,3.62,1.11,72.64,0.14,8.76,0.00,0.00,1']
['62,1.51977,13.81,3.58,1.32,71.72,0.12,8.67,0.69,0.00,1']
['63,1.52172,13.51,3.86,0.88,71.79,0.23,9.54,0.00,0.11,1']
['64,1.52227,14.17,3.81,0.78,71.35,0.00,9.69,0.00,0.00,1']
['65,1.52172,13.48,3.74,0.90,72.01,0.18,9.61,0.00,0.07,1']
['66,1.52099,13.69,3.59,1.12,71.96,0.09,9.40,0.00,0.00,1']
['67,1.52152,13.05,3.65,0.87,72.22,0.19,9.85,0.00,0.17,1']
['68,1.52152,13.05,3.65,0.87,72.32,0.19,9.85,0.00,0.17,1']
['69,1.52152,13.12,3.58,0.90,72.20,0.23,9.82,0.00,0.16,1']
['70,1.52300,13.31,3.58,0.82,71.99,0.12,10.17,0.00,0.03,1']
['71,1.51574,14.86,3.67,1.74,71.87,0.16,7.36,0.00,0.12,2']
['72,1.51848,13.64,3.87,1.27,71.96,0.54,8.32,0.00,0.32,2']
['73,1.51593,13.09,3.59,1.52,73.10,0.67,7.83,0.00,0.00,2']
['74,1.51631,13.34,3.57,1.57,72.87,0.61,7.89,0.00,0.00,2']
['75,1.51596,13.02,3.56,1.54,73.11,0.72,7.90,0.00,0.00,2']
['76,1.51590,13.02,3.58,1.51,73.12,0.69,7.96,0.00,0.00,2']
['77,1.51645,13.44,3.61,1.54,72.39,0.66,8.03,0.00,0.00,2']
['78,1.51627,13.00,3.58,1.54,72.83,0.61,8.04,0.00,0.00,2']
['79,1.51613,13.92,3.52,1.25,72.88,0.37,7.94,0.00,0.14,2']
['80,1.51590,12.82,3.52,1.90,72.86,0.69,7.97,0.00,0.00,2']
['81,1.51592,12.86,3.52,2.12,72.66,0.69,7.97,0.00,0.00,2']
['82,1.51593,13.25,3.45,1.43,73.17,0.61,7.86,0.00,0.00,2']
['83,1.51646,13.41,3.55,1.25,72.81,0.68,8.10,0.00,0.00,2']
['84,1.51594,13.09,3.52,1.55,72.87,0.68,8.05,0.00,0.09,2']
['85,1.51409,14.25,3.09,2.08,72.28,1.10,7.08,0.00,0.00,2']
['86,1.51625,13.36,3.58,1.49,72.72,0.45,8.21,0.00,0.00,2']
['87,1.51569,13.24,3.49,1.47,73.25,0.38,8.03,0.00,0.00,2']
['88,1.51645,13.40,3.49,1.52,72.65,0.67,8.08,0.00,0.10,2']
['89,1.51618,13.01,3.50,1.48,72.89,0.60,8.12,0.00,0.00,2']
['90,1.51640,12.55,3.48,1.87,73.23,0.63,8.08,0.00,0.09,2']
['91,1.51841,12.93,3.74,1.11,72.28,0.64,8.96,0.00,0.22,2']
['92,1.51605,12.90,3.44,1.45,73.06,0.44,8.27,0.00,0.00,2']
['93,1.51588,13.12,3.41,1.58,73.26,0.07,8.39,0.00,0.19,2']
['94,1.51590,13.24,3.34,1.47,73.10,0.39,8.22,0.00,0.00,2']
['95,1.51629,12.71,3.33,1.49,73.28,0.67,8.24,0.00,0.00,2']
['96,1.51860,13.36,3.43,1.43,72.26,0.51,8.60,0.00,0.00,2']
['97,1.51841,13.02,3.62,1.06,72.34,0.64,9.13,0.00,0.15,2']
['98,1.51743,12.20,3.25,1.16,73.55,0.62,8.90,0.00,0.24,2']
['99,1.51689,12.67,2.88,1.71,73.21,0.73,8.54,0.00,0.00,2']
['100,1.51811,12.96,2.96,1.43,72.92,0.60,8.79,0.14,0.00,2']
['101,1.51655,12.75,2.85,1.44,73.27,0.57,8.79,0.11,0.22,2']
['102,1.51730,12.35,2.72,1.63,72.87,0.70,9.23,0.00,0.00,2']
['103,1.51820,12.62,2.76,0.83,73.81,0.35,9.42,0.00,0.20,2']
['104,1.52725,13.80,3.15,0.66,70.57,0.08,11.64,0.00,0.00,2']
['105,1.52410,13.83,2.90,1.17,71.15,0.08,10.79,0.00,0.00,2']
['106,1.52475,11.45,0.00,1.88,72.19,0.81,13.24,0.00,0.34,2']
['107,1.53125,10.73,0.00,2.10,69.81,0.58,13.30,3.15,0.28,2']
['108,1.53393,12.30,0.00,1.00,70.16,0.12,16.19,0.00,0.24,2']
['109,1.52222,14.43,0.00,1.00,72.67,0.10,11.52,0.00,0.08,2']
['110,1.51818,13.72,0.00,0.56,74.45,0.00,10.99,0.00,0.00,2']
['111,1.52664,11.23,0.00,0.77,73.21,0.00,14.68,0.00,0.00,2']
['112,1.52739,11.02,0.00,0.75,73.08,0.00,14.96,0.00,0.00,2']
['113,1.52777,12.64,0.00,0.67,72.02,0.06,14.40,0.00,0.00,2']
['114,1.51892,13.46,3.83,1.26,72.55,0.57,8.21,0.00,0.14,2']
['115,1.51847,13.10,3.97,1.19,72.44,0.60,8.43,0.00,0.00,2']
['116,1.51846,13.41,3.89,1.33,72.38,0.51,8.28,0.00,0.00,2']
['117,1.51829,13.24,3.90,1.41,72.33,0.55,8.31,0.00,0.10,2']
['118,1.51708,13.72,3.68,1.81,72.06,0.64,7.88,0.00,0.00,2']
['119,1.51673,13.30,3.64,1.53,72.53,0.65,8.03,0.00,0.29,2']
['120,1.51652,13.56,3.57,1.47,72.45,0.64,7.96,0.00,0.00,2']
['121,1.51844,13.25,3.76,1.32,72.40,0.58,8.42,0.00,0.00,2']
['122,1.51663,12.93,3.54,1.62,72.96,0.64,8.03,0.00,0.21,2']
['123,1.51687,13.23,3.54,1.48,72.84,0.56,8.10,0.00,0.00,2']
['124,1.51707,13.48,3.48,1.71,72.52,0.62,7.99,0.00,0.00,2']
['125,1.52177,13.20,3.68,1.15,72.75,0.54,8.52,0.00,0.00,2']
['126,1.51872,12.93,3.66,1.56,72.51,0.58,8.55,0.00,0.12,2']
['127,1.51667,12.94,3.61,1.26,72.75,0.56,8.60,0.00,0.00,2']
['128,1.52081,13.78,2.28,1.43,71.99,0.49,9.85,0.00,0.17,2']
['129,1.52068,13.55,2.09,1.67,72.18,0.53,9.57,0.27,0.17,2']
['130,1.52020,13.98,1.35,1.63,71.76,0.39,10.56,0.00,0.18,2']
['131,1.52177,13.75,1.01,1.36,72.19,0.33,11.14,0.00,0.00,2']
['132,1.52614,13.70,0.00,1.36,71.24,0.19,13.44,0.00,0.10,2']
['133,1.51813,13.43,3.98,1.18,72.49,0.58,8.15,0.00,0.00,2']
['134,1.51800,13.71,3.93,1.54,71.81,0.54,8.21,0.00,0.15,2']
['135,1.51811,13.33,3.85,1.25,72.78,0.52,8.12,0.00,0.00,2']
['136,1.51789,13.19,3.90,1.30,72.33,0.55,8.44,0.00,0.28,2']
['137,1.51806,13.00,3.80,1.08,73.07,0.56,8.38,0.00,0.12,2']
['138,1.51711,12.89,3.62,1.57,72.96,0.61,8.11,0.00,0.00,2']
['139,1.51674,12.79,3.52,1.54,73.36,0.66,7.90,0.00,0.00,2']
['140,1.51674,12.87,3.56,1.64,73.14,0.65,7.99,0.00,0.00,2']
['141,1.51690,13.33,3.54,1.61,72.54,0.68,8.11,0.00,0.00,2']
['142,1.51851,13.20,3.63,1.07,72.83,0.57,8.41,0.09,0.17,2']
['143,1.51662,12.85,3.51,1.44,73.01,0.68,8.23,0.06,0.25,2']
['144,1.51709,13.00,3.47,1.79,72.72,0.66,8.18,0.00,0.00,2']
['145,1.51660,12.99,3.18,1.23,72.97,0.58,8.81,0.00,0.24,2']
['146,1.51839,12.85,3.67,1.24,72.57,0.62,8.68,0.00,0.35,2']
['147,1.51769,13.65,3.66,1.11,72.77,0.11,8.60,0.00,0.00,3']
['148,1.51610,13.33,3.53,1.34,72.67,0.56,8.33,0.00,0.00,3']
['149,1.51670,13.24,3.57,1.38,72.70,0.56,8.44,0.00,0.10,3']
['150,1.51643,12.16,3.52,1.35,72.89,0.57,8.53,0.00,0.00,3']
['151,1.51665,13.14,3.45,1.76,72.48,0.60,8.38,0.00,0.17,3']
['152,1.52127,14.32,3.90,0.83,71.50,0.00,9.49,0.00,0.00,3']
['153,1.51779,13.64,3.65,0.65,73.00,0.06,8.93,0.00,0.00,3']
['154,1.51610,13.42,3.40,1.22,72.69,0.59,8.32,0.00,0.00,3']
['155,1.51694,12.86,3.58,1.31,72.61,0.61,8.79,0.00,0.00,3']
['156,1.51646,13.04,3.40,1.26,73.01,0.52,8.58,0.00,0.00,3']
['157,1.51655,13.41,3.39,1.28,72.64,0.52,8.65,0.00,0.00,3']
['158,1.52121,14.03,3.76,0.58,71.79,0.11,9.65,0.00,0.00,3']
['159,1.51776,13.53,3.41,1.52,72.04,0.58,8.79,0.00,0.00,3']
['160,1.51796,13.50,3.36,1.63,71.94,0.57,8.81,0.00,0.09,3']
['161,1.51832,13.33,3.34,1.54,72.14,0.56,8.99,0.00,0.00,3']
['162,1.51934,13.64,3.54,0.75,72.65,0.16,8.89,0.15,0.24,3']
['163,1.52211,14.19,3.78,0.91,71.36,0.23,9.14,0.00,0.37,3']
['164,1.51514,14.01,2.68,3.50,69.89,1.68,5.87,2.20,0.00,5']
['165,1.51915,12.73,1.85,1.86,72.69,0.60,10.09,0.00,0.00,5']
['166,1.52171,11.56,1.88,1.56,72.86,0.47,11.41,0.00,0.00,5']
['167,1.52151,11.03,1.71,1.56,73.44,0.58,11.62,0.00,0.00,5']
['168,1.51969,12.64,0.00,1.65,73.75,0.38,11.53,0.00,0.00,5']
['169,1.51666,12.86,0.00,1.83,73.88,0.97,10.17,0.00,0.00,5']
['170,1.51994,13.27,0.00,1.76,73.03,0.47,11.32,0.00,0.00,5']
['171,1.52369,13.44,0.00,1.58,72.22,0.32,12.24,0.00,0.00,5']
['172,1.51316,13.02,0.00,3.04,70.48,6.21,6.96,0.00,0.00,5']
['173,1.51321,13.00,0.00,3.02,70.70,6.21,6.93,0.00,0.00,5']
['174,1.52043,13.38,0.00,1.40,72.25,0.33,12.50,0.00,0.00,5']
['175,1.52058,12.85,1.61,2.17,72.18,0.76,9.70,0.24,0.51,5']
['176,1.52119,12.97,0.33,1.51,73.39,0.13,11.27,0.00,0.28,5']
['177,1.51905,14.00,2.39,1.56,72.37,0.00,9.57,0.00,0.00,6']
['178,1.51937,13.79,2.41,1.19,72.76,0.00,9.77,0.00,0.00,6']
['179,1.51829,14.46,2.24,1.62,72.38,0.00,9.26,0.00,0.00,6']
['180,1.51852,14.09,2.19,1.66,72.67,0.00,9.32,0.00,0.00,6']
['181,1.51299,14.40,1.74,1.54,74.55,0.00,7.59,0.00,0.00,6']
['182,1.51888,14.99,0.78,1.74,72.50,0.00,9.95,0.00,0.00,6']
['183,1.51916,14.15,0.00,2.09,72.74,0.00,10.88,0.00,0.00,6']
['184,1.51969,14.56,0.00,0.56,73.48,0.00,11.22,0.00,0.00,6']
['185,1.51115,17.38,0.00,0.34,75.41,0.00,6.65,0.00,0.00,6']
['186,1.51131,13.69,3.20,1.81,72.81,1.76,5.43,1.19,0.00,7']
['187,1.51838,14.32,3.26,2.22,71.25,1.46,5.79,1.63,0.00,7']
['188,1.52315,13.44,3.34,1.23,72.38,0.60,8.83,0.00,0.00,7']
['189,1.52247,14.86,2.20,2.06,70.26,0.76,9.76,0.00,0.00,7']
['190,1.52365,15.79,1.83,1.31,70.43,0.31,8.61,1.68,0.00,7']
['191,1.51613,13.88,1.78,1.79,73.10,0.00,8.67,0.76,0.00,7']
['192,1.51602,14.85,0.00,2.38,73.28,0.00,8.76,0.64,0.09,7']
['193,1.51623,14.20,0.00,2.79,73.46,0.04,9.04,0.40,0.09,7']
['194,1.51719,14.75,0.00,2.00,73.02,0.00,8.53,1.59,0.08,7']
['195,1.51683,14.56,0.00,1.98,73.29,0.00,8.52,1.57,0.07,7']
['196,1.51545,14.14,0.00,2.68,73.39,0.08,9.07,0.61,0.05,7']
['197,1.51556,13.87,0.00,2.54,73.23,0.14,9.41,0.81,0.01,7']
['198,1.51727,14.70,0.00,2.34,73.28,0.00,8.95,0.66,0.00,7']
['199,1.51531,14.38,0.00,2.66,73.10,0.04,9.08,0.64,0.00,7']
['200,1.51609,15.01,0.00,2.51,73.05,0.05,8.83,0.53,0.00,7']
['201,1.51508,15.15,0.00,2.25,73.50,0.00,8.34,0.63,0.00,7']
['202,1.51653,11.95,0.00,1.19,75.18,2.70,8.93,0.00,0.00,7']
['203,1.51514,14.85,0.00,2.42,73.72,0.00,8.39,0.56,0.00,7']
['204,1.51658,14.80,0.00,1.99,73.11,0.00,8.28,1.71,0.00,7']
['205,1.51617,14.95,0.00,2.27,73.30,0.00,8.71,0.67,0.00,7']
['206,1.51732,14.95,0.00,1.80,72.99,0.00,8.61,1.55,0.00,7']
['207,1.51645,14.94,0.00,1.87,73.11,0.00,8.67,1.38,0.00,7']
['208,1.51831,14.39,0.00,1.82,72.86,1.41,6.47,2.88,0.00,7']
['209,1.51640,14.37,0.00,2.74,72.85,0.00,9.45,0.54,0.00,7']
['210,1.51623,14.14,0.00,2.88,72.61,0.08,9.18,1.06,0.00,7']
['211,1.51685,14.92,0.00,1.99,73.06,0.00,8.40,1.59,0.00,7']
['212,1.52065,14.36,0.00,2.02,73.42,0.00,8.44,1.64,0.00,7']
['213,1.51651,14.38,0.00,1.94,73.61,0.00,8.48,1.57,0.00,7']
['214,1.51711,14.23,0.00,2.08,73.36,0.00,8.62,1.67,0.00,7']
all the data inserted

In [84]:
mydb = connection.connect(host="localhost", database='sudhanshu12345', user="root", passwd="1234", use_pure=True)
cur= mydb.cursor()
with open('glass.data',"r") as data:
    next(data)
    data_csv= csv.reader(data, delimiter="\n")
    print(data_csv)
    for j in data_csv:
        print(type(j))
print("all the data inserted")
mydb.commit()

<_csv.reader object at 0x000001E53110BA60>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
all the data inserted

In [91]:
mydb = connection.connect(host="localhost", database='sudhanshu12345', user="root", passwd="1234", use_pure=True)
cur= mydb.cursor()
with open('glass.data',"r") as data:
    next(data)
    data_csv= csv.reader(data, delimiter="\n")
    print(data_csv)
    for j in data_csv:
        print(type(str(j)))
        print(j)
        ##cur.execute('insert into sudhanshu12345.GlassData1 values ({data})'.format(data=(str(j))))
    print("all the data inserted")
mydb.commit()

<_csv.reader object at 0x000001E53110BE20>
<class 'str'>
['1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.00,1']
<class 'str'>
['2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.00,0.00,1']
<class 'str'>
['3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.00,0.00,1']
<class 'str'>
['4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.00,0.00,1']
<class 'str'>
['5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.00,0.00,1']
<class 'str'>
['6,1.51596,12.79,3.61,1.62,72.97,0.64,8.07,0.00,0.26,1']
<class 'str'>
['7,1.51743,13.30,3.60,1.14,73.09,0.58,8.17,0.00,0.00,1']
<class 'str'>
['8,1.51756,13.15,3.61,1.05,73.24,0.57,8.24,0.00,0.00,1']
<class 'str'>
['9,1.51918,14.04,3.58,1.37,72.08,0.56,8.30,0.00,0.00,1']
<class 'str'>
['10,1.51755,13.00,3.60,1.36,72.99,0.57,8.40,0.00,0.11,1']
<class 'str'>
['11,1.51571,12.72,3.46,1.56,73.20,0.67,8.09,0.00,0.24,1']
<class 'str'>
['12,1.51763,12.80,3.66,1.27,73.01,0.60,8.56,0.00,0.00,1']
<class 'str'>
['13,1.51589,12.88,3.43,1.40,73.28,0.69,8.05,0.00,0.24,1']
<class 'str'>
['14,1.51748,12.86,3.56,1.27,73.21,0.54,8.38,0.00,0.17,1']
<class 'str'>
['15,1.51763,12.61,3.59,1.31,73.29,0.58,8.50,0.00,0.00,1']
<class 'str'>
['16,1.51761,12.81,3.54,1.23,73.24,0.58,8.39,0.00,0.00,1']
<class 'str'>
['17,1.51784,12.68,3.67,1.16,73.11,0.61,8.70,0.00,0.00,1']
<class 'str'>
['18,1.52196,14.36,3.85,0.89,71.36,0.15,9.15,0.00,0.00,1']
<class 'str'>
['19,1.51911,13.90,3.73,1.18,72.12,0.06,8.89,0.00,0.00,1']
<class 'str'>
['20,1.51735,13.02,3.54,1.69,72.73,0.54,8.44,0.00,0.07,1']
<class 'str'>
['21,1.51750,12.82,3.55,1.49,72.75,0.54,8.52,0.00,0.19,1']
<class 'str'>
['22,1.51966,14.77,3.75,0.29,72.02,0.03,9.00,0.00,0.00,1']
<class 'str'>
['23,1.51736,12.78,3.62,1.29,72.79,0.59,8.70,0.00,0.00,1']
<class 'str'>
['24,1.51751,12.81,3.57,1.35,73.02,0.62,8.59,0.00,0.00,1']
<class 'str'>
['25,1.51720,13.38,3.50,1.15,72.85,0.50,8.43,0.00,0.00,1']
<class 'str'>
['26,1.51764,12.98,3.54,1.21,73.00,0.65,8.53,0.00,0.00,1']
<class 'str'>
['27,1.51793,13.21,3.48,1.41,72.64,0.59,8.43,0.00,0.00,1']
<class 'str'>
['28,1.51721,12.87,3.48,1.33,73.04,0.56,8.43,0.00,0.00,1']
<class 'str'>
['29,1.51768,12.56,3.52,1.43,73.15,0.57,8.54,0.00,0.00,1']
<class 'str'>
['30,1.51784,13.08,3.49,1.28,72.86,0.60,8.49,0.00,0.00,1']
<class 'str'>
['31,1.51768,12.65,3.56,1.30,73.08,0.61,8.69,0.00,0.14,1']
<class 'str'>
['32,1.51747,12.84,3.50,1.14,73.27,0.56,8.55,0.00,0.00,1']
<class 'str'>
['33,1.51775,12.85,3.48,1.23,72.97,0.61,8.56,0.09,0.22,1']
<class 'str'>
['34,1.51753,12.57,3.47,1.38,73.39,0.60,8.55,0.00,0.06,1']
<class 'str'>
['35,1.51783,12.69,3.54,1.34,72.95,0.57,8.75,0.00,0.00,1']
<class 'str'>
['36,1.51567,13.29,3.45,1.21,72.74,0.56,8.57,0.00,0.00,1']
<class 'str'>
['37,1.51909,13.89,3.53,1.32,71.81,0.51,8.78,0.11,0.00,1']
<class 'str'>
['38,1.51797,12.74,3.48,1.35,72.96,0.64,8.68,0.00,0.00,1']
<class 'str'>
['39,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1']
<class 'str'>
['40,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1']
<class 'str'>
['41,1.51793,12.79,3.50,1.12,73.03,0.64,8.77,0.00,0.00,1']
<class 'str'>
['42,1.51755,12.71,3.42,1.20,73.20,0.59,8.64,0.00,0.00,1']
<class 'str'>
['43,1.51779,13.21,3.39,1.33,72.76,0.59,8.59,0.00,0.00,1']
<class 'str'>
['44,1.52210,13.73,3.84,0.72,71.76,0.17,9.74,0.00,0.00,1']
<class 'str'>
['45,1.51786,12.73,3.43,1.19,72.95,0.62,8.76,0.00,0.30,1']
<class 'str'>
['46,1.51900,13.49,3.48,1.35,71.95,0.55,9.00,0.00,0.00,1']
<class 'str'>
['47,1.51869,13.19,3.37,1.18,72.72,0.57,8.83,0.00,0.16,1']
<class 'str'>
['48,1.52667,13.99,3.70,0.71,71.57,0.02,9.82,0.00,0.10,1']
<class 'str'>
['49,1.52223,13.21,3.77,0.79,71.99,0.13,10.02,0.00,0.00,1']
<class 'str'>
['50,1.51898,13.58,3.35,1.23,72.08,0.59,8.91,0.00,0.00,1']
<class 'str'>
['51,1.52320,13.72,3.72,0.51,71.75,0.09,10.06,0.00,0.16,1']
<class 'str'>
['52,1.51926,13.20,3.33,1.28,72.36,0.60,9.14,0.00,0.11,1']
<class 'str'>
['53,1.51808,13.43,2.87,1.19,72.84,0.55,9.03,0.00,0.00,1']
<class 'str'>
['54,1.51837,13.14,2.84,1.28,72.85,0.55,9.07,0.00,0.00,1']
<class 'str'>
['55,1.51778,13.21,2.81,1.29,72.98,0.51,9.02,0.00,0.09,1']
<class 'str'>
['56,1.51769,12.45,2.71,1.29,73.70,0.56,9.06,0.00,0.24,1']
<class 'str'>
['57,1.51215,12.99,3.47,1.12,72.98,0.62,8.35,0.00,0.31,1']
<class 'str'>
['58,1.51824,12.87,3.48,1.29,72.95,0.60,8.43,0.00,0.00,1']
<class 'str'>
['59,1.51754,13.48,3.74,1.17,72.99,0.59,8.03,0.00,0.00,1']
<class 'str'>
['60,1.51754,13.39,3.66,1.19,72.79,0.57,8.27,0.00,0.11,1']
<class 'str'>
['61,1.51905,13.60,3.62,1.11,72.64,0.14,8.76,0.00,0.00,1']
<class 'str'>
['62,1.51977,13.81,3.58,1.32,71.72,0.12,8.67,0.69,0.00,1']
<class 'str'>
['63,1.52172,13.51,3.86,0.88,71.79,0.23,9.54,0.00,0.11,1']
<class 'str'>
['64,1.52227,14.17,3.81,0.78,71.35,0.00,9.69,0.00,0.00,1']
<class 'str'>
['65,1.52172,13.48,3.74,0.90,72.01,0.18,9.61,0.00,0.07,1']
<class 'str'>
['66,1.52099,13.69,3.59,1.12,71.96,0.09,9.40,0.00,0.00,1']
<class 'str'>
['67,1.52152,13.05,3.65,0.87,72.22,0.19,9.85,0.00,0.17,1']
<class 'str'>
['68,1.52152,13.05,3.65,0.87,72.32,0.19,9.85,0.00,0.17,1']
<class 'str'>
['69,1.52152,13.12,3.58,0.90,72.20,0.23,9.82,0.00,0.16,1']
<class 'str'>
['70,1.52300,13.31,3.58,0.82,71.99,0.12,10.17,0.00,0.03,1']
<class 'str'>
['71,1.51574,14.86,3.67,1.74,71.87,0.16,7.36,0.00,0.12,2']
<class 'str'>
['72,1.51848,13.64,3.87,1.27,71.96,0.54,8.32,0.00,0.32,2']
<class 'str'>
['73,1.51593,13.09,3.59,1.52,73.10,0.67,7.83,0.00,0.00,2']
<class 'str'>
['74,1.51631,13.34,3.57,1.57,72.87,0.61,7.89,0.00,0.00,2']
<class 'str'>
['75,1.51596,13.02,3.56,1.54,73.11,0.72,7.90,0.00,0.00,2']
<class 'str'>
['76,1.51590,13.02,3.58,1.51,73.12,0.69,7.96,0.00,0.00,2']
<class 'str'>
['77,1.51645,13.44,3.61,1.54,72.39,0.66,8.03,0.00,0.00,2']
<class 'str'>
['78,1.51627,13.00,3.58,1.54,72.83,0.61,8.04,0.00,0.00,2']
<class 'str'>
['79,1.51613,13.92,3.52,1.25,72.88,0.37,7.94,0.00,0.14,2']
<class 'str'>
['80,1.51590,12.82,3.52,1.90,72.86,0.69,7.97,0.00,0.00,2']
<class 'str'>
['81,1.51592,12.86,3.52,2.12,72.66,0.69,7.97,0.00,0.00,2']
<class 'str'>
['82,1.51593,13.25,3.45,1.43,73.17,0.61,7.86,0.00,0.00,2']
<class 'str'>
['83,1.51646,13.41,3.55,1.25,72.81,0.68,8.10,0.00,0.00,2']
<class 'str'>
['84,1.51594,13.09,3.52,1.55,72.87,0.68,8.05,0.00,0.09,2']
<class 'str'>
['85,1.51409,14.25,3.09,2.08,72.28,1.10,7.08,0.00,0.00,2']
<class 'str'>
['86,1.51625,13.36,3.58,1.49,72.72,0.45,8.21,0.00,0.00,2']
<class 'str'>
['87,1.51569,13.24,3.49,1.47,73.25,0.38,8.03,0.00,0.00,2']
<class 'str'>
['88,1.51645,13.40,3.49,1.52,72.65,0.67,8.08,0.00,0.10,2']
<class 'str'>
['89,1.51618,13.01,3.50,1.48,72.89,0.60,8.12,0.00,0.00,2']
<class 'str'>
['90,1.51640,12.55,3.48,1.87,73.23,0.63,8.08,0.00,0.09,2']
<class 'str'>
['91,1.51841,12.93,3.74,1.11,72.28,0.64,8.96,0.00,0.22,2']
<class 'str'>
['92,1.51605,12.90,3.44,1.45,73.06,0.44,8.27,0.00,0.00,2']
<class 'str'>
['93,1.51588,13.12,3.41,1.58,73.26,0.07,8.39,0.00,0.19,2']
<class 'str'>
['94,1.51590,13.24,3.34,1.47,73.10,0.39,8.22,0.00,0.00,2']
<class 'str'>
['95,1.51629,12.71,3.33,1.49,73.28,0.67,8.24,0.00,0.00,2']
<class 'str'>
['96,1.51860,13.36,3.43,1.43,72.26,0.51,8.60,0.00,0.00,2']
<class 'str'>
['97,1.51841,13.02,3.62,1.06,72.34,0.64,9.13,0.00,0.15,2']
<class 'str'>
['98,1.51743,12.20,3.25,1.16,73.55,0.62,8.90,0.00,0.24,2']
<class 'str'>
['99,1.51689,12.67,2.88,1.71,73.21,0.73,8.54,0.00,0.00,2']
<class 'str'>
['100,1.51811,12.96,2.96,1.43,72.92,0.60,8.79,0.14,0.00,2']
<class 'str'>
['101,1.51655,12.75,2.85,1.44,73.27,0.57,8.79,0.11,0.22,2']
<class 'str'>
['102,1.51730,12.35,2.72,1.63,72.87,0.70,9.23,0.00,0.00,2']
<class 'str'>
['103,1.51820,12.62,2.76,0.83,73.81,0.35,9.42,0.00,0.20,2']
<class 'str'>
['104,1.52725,13.80,3.15,0.66,70.57,0.08,11.64,0.00,0.00,2']
<class 'str'>
['105,1.52410,13.83,2.90,1.17,71.15,0.08,10.79,0.00,0.00,2']
<class 'str'>
['106,1.52475,11.45,0.00,1.88,72.19,0.81,13.24,0.00,0.34,2']
<class 'str'>
['107,1.53125,10.73,0.00,2.10,69.81,0.58,13.30,3.15,0.28,2']
<class 'str'>
['108,1.53393,12.30,0.00,1.00,70.16,0.12,16.19,0.00,0.24,2']
<class 'str'>
['109,1.52222,14.43,0.00,1.00,72.67,0.10,11.52,0.00,0.08,2']
<class 'str'>
['110,1.51818,13.72,0.00,0.56,74.45,0.00,10.99,0.00,0.00,2']
<class 'str'>
['111,1.52664,11.23,0.00,0.77,73.21,0.00,14.68,0.00,0.00,2']
<class 'str'>
['112,1.52739,11.02,0.00,0.75,73.08,0.00,14.96,0.00,0.00,2']
<class 'str'>
['113,1.52777,12.64,0.00,0.67,72.02,0.06,14.40,0.00,0.00,2']
<class 'str'>
['114,1.51892,13.46,3.83,1.26,72.55,0.57,8.21,0.00,0.14,2']
<class 'str'>
['115,1.51847,13.10,3.97,1.19,72.44,0.60,8.43,0.00,0.00,2']
<class 'str'>
['116,1.51846,13.41,3.89,1.33,72.38,0.51,8.28,0.00,0.00,2']
<class 'str'>
['117,1.51829,13.24,3.90,1.41,72.33,0.55,8.31,0.00,0.10,2']
<class 'str'>
['118,1.51708,13.72,3.68,1.81,72.06,0.64,7.88,0.00,0.00,2']
<class 'str'>
['119,1.51673,13.30,3.64,1.53,72.53,0.65,8.03,0.00,0.29,2']
<class 'str'>
['120,1.51652,13.56,3.57,1.47,72.45,0.64,7.96,0.00,0.00,2']
<class 'str'>
['121,1.51844,13.25,3.76,1.32,72.40,0.58,8.42,0.00,0.00,2']
<class 'str'>
['122,1.51663,12.93,3.54,1.62,72.96,0.64,8.03,0.00,0.21,2']
<class 'str'>
['123,1.51687,13.23,3.54,1.48,72.84,0.56,8.10,0.00,0.00,2']
<class 'str'>
['124,1.51707,13.48,3.48,1.71,72.52,0.62,7.99,0.00,0.00,2']
<class 'str'>
['125,1.52177,13.20,3.68,1.15,72.75,0.54,8.52,0.00,0.00,2']
<class 'str'>
['126,1.51872,12.93,3.66,1.56,72.51,0.58,8.55,0.00,0.12,2']
<class 'str'>
['127,1.51667,12.94,3.61,1.26,72.75,0.56,8.60,0.00,0.00,2']
<class 'str'>
['128,1.52081,13.78,2.28,1.43,71.99,0.49,9.85,0.00,0.17,2']
<class 'str'>
['129,1.52068,13.55,2.09,1.67,72.18,0.53,9.57,0.27,0.17,2']
<class 'str'>
['130,1.52020,13.98,1.35,1.63,71.76,0.39,10.56,0.00,0.18,2']
<class 'str'>
['131,1.52177,13.75,1.01,1.36,72.19,0.33,11.14,0.00,0.00,2']
<class 'str'>
['132,1.52614,13.70,0.00,1.36,71.24,0.19,13.44,0.00,0.10,2']
<class 'str'>
['133,1.51813,13.43,3.98,1.18,72.49,0.58,8.15,0.00,0.00,2']
<class 'str'>
['134,1.51800,13.71,3.93,1.54,71.81,0.54,8.21,0.00,0.15,2']
<class 'str'>
['135,1.51811,13.33,3.85,1.25,72.78,0.52,8.12,0.00,0.00,2']
<class 'str'>
['136,1.51789,13.19,3.90,1.30,72.33,0.55,8.44,0.00,0.28,2']
<class 'str'>
['137,1.51806,13.00,3.80,1.08,73.07,0.56,8.38,0.00,0.12,2']
<class 'str'>
['138,1.51711,12.89,3.62,1.57,72.96,0.61,8.11,0.00,0.00,2']
<class 'str'>
['139,1.51674,12.79,3.52,1.54,73.36,0.66,7.90,0.00,0.00,2']
<class 'str'>
['140,1.51674,12.87,3.56,1.64,73.14,0.65,7.99,0.00,0.00,2']
<class 'str'>
['141,1.51690,13.33,3.54,1.61,72.54,0.68,8.11,0.00,0.00,2']
<class 'str'>
['142,1.51851,13.20,3.63,1.07,72.83,0.57,8.41,0.09,0.17,2']
<class 'str'>
['143,1.51662,12.85,3.51,1.44,73.01,0.68,8.23,0.06,0.25,2']
<class 'str'>
['144,1.51709,13.00,3.47,1.79,72.72,0.66,8.18,0.00,0.00,2']
<class 'str'>
['145,1.51660,12.99,3.18,1.23,72.97,0.58,8.81,0.00,0.24,2']
<class 'str'>
['146,1.51839,12.85,3.67,1.24,72.57,0.62,8.68,0.00,0.35,2']
<class 'str'>
['147,1.51769,13.65,3.66,1.11,72.77,0.11,8.60,0.00,0.00,3']
<class 'str'>
['148,1.51610,13.33,3.53,1.34,72.67,0.56,8.33,0.00,0.00,3']
<class 'str'>
['149,1.51670,13.24,3.57,1.38,72.70,0.56,8.44,0.00,0.10,3']
<class 'str'>
['150,1.51643,12.16,3.52,1.35,72.89,0.57,8.53,0.00,0.00,3']
<class 'str'>
['151,1.51665,13.14,3.45,1.76,72.48,0.60,8.38,0.00,0.17,3']
<class 'str'>
['152,1.52127,14.32,3.90,0.83,71.50,0.00,9.49,0.00,0.00,3']
<class 'str'>
['153,1.51779,13.64,3.65,0.65,73.00,0.06,8.93,0.00,0.00,3']
<class 'str'>
['154,1.51610,13.42,3.40,1.22,72.69,0.59,8.32,0.00,0.00,3']
<class 'str'>
['155,1.51694,12.86,3.58,1.31,72.61,0.61,8.79,0.00,0.00,3']
<class 'str'>
['156,1.51646,13.04,3.40,1.26,73.01,0.52,8.58,0.00,0.00,3']
<class 'str'>
['157,1.51655,13.41,3.39,1.28,72.64,0.52,8.65,0.00,0.00,3']
<class 'str'>
['158,1.52121,14.03,3.76,0.58,71.79,0.11,9.65,0.00,0.00,3']
<class 'str'>
['159,1.51776,13.53,3.41,1.52,72.04,0.58,8.79,0.00,0.00,3']
<class 'str'>
['160,1.51796,13.50,3.36,1.63,71.94,0.57,8.81,0.00,0.09,3']
<class 'str'>
['161,1.51832,13.33,3.34,1.54,72.14,0.56,8.99,0.00,0.00,3']
<class 'str'>
['162,1.51934,13.64,3.54,0.75,72.65,0.16,8.89,0.15,0.24,3']
<class 'str'>
['163,1.52211,14.19,3.78,0.91,71.36,0.23,9.14,0.00,0.37,3']
<class 'str'>
['164,1.51514,14.01,2.68,3.50,69.89,1.68,5.87,2.20,0.00,5']
<class 'str'>
['165,1.51915,12.73,1.85,1.86,72.69,0.60,10.09,0.00,0.00,5']
<class 'str'>
['166,1.52171,11.56,1.88,1.56,72.86,0.47,11.41,0.00,0.00,5']
<class 'str'>
['167,1.52151,11.03,1.71,1.56,73.44,0.58,11.62,0.00,0.00,5']
<class 'str'>
['168,1.51969,12.64,0.00,1.65,73.75,0.38,11.53,0.00,0.00,5']
<class 'str'>
['169,1.51666,12.86,0.00,1.83,73.88,0.97,10.17,0.00,0.00,5']
<class 'str'>
['170,1.51994,13.27,0.00,1.76,73.03,0.47,11.32,0.00,0.00,5']
<class 'str'>
['171,1.52369,13.44,0.00,1.58,72.22,0.32,12.24,0.00,0.00,5']
<class 'str'>
['172,1.51316,13.02,0.00,3.04,70.48,6.21,6.96,0.00,0.00,5']
<class 'str'>
['173,1.51321,13.00,0.00,3.02,70.70,6.21,6.93,0.00,0.00,5']
<class 'str'>
['174,1.52043,13.38,0.00,1.40,72.25,0.33,12.50,0.00,0.00,5']
<class 'str'>
['175,1.52058,12.85,1.61,2.17,72.18,0.76,9.70,0.24,0.51,5']
<class 'str'>
['176,1.52119,12.97,0.33,1.51,73.39,0.13,11.27,0.00,0.28,5']
<class 'str'>
['177,1.51905,14.00,2.39,1.56,72.37,0.00,9.57,0.00,0.00,6']
<class 'str'>
['178,1.51937,13.79,2.41,1.19,72.76,0.00,9.77,0.00,0.00,6']
<class 'str'>
['179,1.51829,14.46,2.24,1.62,72.38,0.00,9.26,0.00,0.00,6']
<class 'str'>
['180,1.51852,14.09,2.19,1.66,72.67,0.00,9.32,0.00,0.00,6']
<class 'str'>
['181,1.51299,14.40,1.74,1.54,74.55,0.00,7.59,0.00,0.00,6']
<class 'str'>
['182,1.51888,14.99,0.78,1.74,72.50,0.00,9.95,0.00,0.00,6']
<class 'str'>
['183,1.51916,14.15,0.00,2.09,72.74,0.00,10.88,0.00,0.00,6']
<class 'str'>
['184,1.51969,14.56,0.00,0.56,73.48,0.00,11.22,0.00,0.00,6']
<class 'str'>
['185,1.51115,17.38,0.00,0.34,75.41,0.00,6.65,0.00,0.00,6']
<class 'str'>
['186,1.51131,13.69,3.20,1.81,72.81,1.76,5.43,1.19,0.00,7']
<class 'str'>
['187,1.51838,14.32,3.26,2.22,71.25,1.46,5.79,1.63,0.00,7']
<class 'str'>
['188,1.52315,13.44,3.34,1.23,72.38,0.60,8.83,0.00,0.00,7']
<class 'str'>
['189,1.52247,14.86,2.20,2.06,70.26,0.76,9.76,0.00,0.00,7']
<class 'str'>
['190,1.52365,15.79,1.83,1.31,70.43,0.31,8.61,1.68,0.00,7']
<class 'str'>
['191,1.51613,13.88,1.78,1.79,73.10,0.00,8.67,0.76,0.00,7']
<class 'str'>
['192,1.51602,14.85,0.00,2.38,73.28,0.00,8.76,0.64,0.09,7']
<class 'str'>
['193,1.51623,14.20,0.00,2.79,73.46,0.04,9.04,0.40,0.09,7']
<class 'str'>
['194,1.51719,14.75,0.00,2.00,73.02,0.00,8.53,1.59,0.08,7']
<class 'str'>
['195,1.51683,14.56,0.00,1.98,73.29,0.00,8.52,1.57,0.07,7']
<class 'str'>
['196,1.51545,14.14,0.00,2.68,73.39,0.08,9.07,0.61,0.05,7']
<class 'str'>
['197,1.51556,13.87,0.00,2.54,73.23,0.14,9.41,0.81,0.01,7']
<class 'str'>
['198,1.51727,14.70,0.00,2.34,73.28,0.00,8.95,0.66,0.00,7']
<class 'str'>
['199,1.51531,14.38,0.00,2.66,73.10,0.04,9.08,0.64,0.00,7']
<class 'str'>
['200,1.51609,15.01,0.00,2.51,73.05,0.05,8.83,0.53,0.00,7']
<class 'str'>
['201,1.51508,15.15,0.00,2.25,73.50,0.00,8.34,0.63,0.00,7']
<class 'str'>
['202,1.51653,11.95,0.00,1.19,75.18,2.70,8.93,0.00,0.00,7']
<class 'str'>
['203,1.51514,14.85,0.00,2.42,73.72,0.00,8.39,0.56,0.00,7']
<class 'str'>
['204,1.51658,14.80,0.00,1.99,73.11,0.00,8.28,1.71,0.00,7']
<class 'str'>
['205,1.51617,14.95,0.00,2.27,73.30,0.00,8.71,0.67,0.00,7']
<class 'str'>
['206,1.51732,14.95,0.00,1.80,72.99,0.00,8.61,1.55,0.00,7']
<class 'str'>
['207,1.51645,14.94,0.00,1.87,73.11,0.00,8.67,1.38,0.00,7']
<class 'str'>
['208,1.51831,14.39,0.00,1.82,72.86,1.41,6.47,2.88,0.00,7']
<class 'str'>
['209,1.51640,14.37,0.00,2.74,72.85,0.00,9.45,0.54,0.00,7']
<class 'str'>
['210,1.51623,14.14,0.00,2.88,72.61,0.08,9.18,1.06,0.00,7']
<class 'str'>
['211,1.51685,14.92,0.00,1.99,73.06,0.00,8.40,1.59,0.00,7']
<class 'str'>
['212,1.52065,14.36,0.00,2.02,73.42,0.00,8.44,1.64,0.00,7']
<class 'str'>
['213,1.51651,14.38,0.00,1.94,73.61,0.00,8.48,1.57,0.00,7']
<class 'str'>
['214,1.51711,14.23,0.00,2.08,73.36,0.00,8.62,1.67,0.00,7']
all the data inserted

In [95]:
mydb = connection.connect(host="localhost", database='sudhanshu12345', user="root", passwd="1234", use_pure=True)
cur= mydb.cursor()
with open('glass.data',"r") as data:
    next(data)
    data_csv= csv.reader(data, delimiter="\n")
    print(data_csv)
    for j in data_csv:
        print(type(str(j)))
        print(j)
        cur.execute('insert into sudhanshu12345.GlassData1 values ({data})'.format(data=(str(j[0]))))
    print("all the data inserted")
mydb.commit()

<_csv.reader object at 0x000001E53164EA60>
<class 'str'>
['1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.00,1']
<class 'str'>
['2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.00,0.00,1']
<class 'str'>
['3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.00,0.00,1']
<class 'str'>
['4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.00,0.00,1']
<class 'str'>
['5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.00,0.00,1']
<class 'str'>
['6,1.51596,12.79,3.61,1.62,72.97,0.64,8.07,0.00,0.26,1']
<class 'str'>
['7,1.51743,13.30,3.60,1.14,73.09,0.58,8.17,0.00,0.00,1']
<class 'str'>
['8,1.51756,13.15,3.61,1.05,73.24,0.57,8.24,0.00,0.00,1']
<class 'str'>
['9,1.51918,14.04,3.58,1.37,72.08,0.56,8.30,0.00,0.00,1']
<class 'str'>
['10,1.51755,13.00,3.60,1.36,72.99,0.57,8.40,0.00,0.11,1']
<class 'str'>
['11,1.51571,12.72,3.46,1.56,73.20,0.67,8.09,0.00,0.24,1']
<class 'str'>
['12,1.51763,12.80,3.66,1.27,73.01,0.60,8.56,0.00,0.00,1']
<class 'str'>
['13,1.51589,12.88,3.43,1.40,73.28,0.69,8.05,0.00,0.24,1']
<class 'str'>
['14,1.51748,12.86,3.56,1.27,73.21,0.54,8.38,0.00,0.17,1']
<class 'str'>
['15,1.51763,12.61,3.59,1.31,73.29,0.58,8.50,0.00,0.00,1']
<class 'str'>
['16,1.51761,12.81,3.54,1.23,73.24,0.58,8.39,0.00,0.00,1']
<class 'str'>
['17,1.51784,12.68,3.67,1.16,73.11,0.61,8.70,0.00,0.00,1']
<class 'str'>
['18,1.52196,14.36,3.85,0.89,71.36,0.15,9.15,0.00,0.00,1']
<class 'str'>
['19,1.51911,13.90,3.73,1.18,72.12,0.06,8.89,0.00,0.00,1']
<class 'str'>
['20,1.51735,13.02,3.54,1.69,72.73,0.54,8.44,0.00,0.07,1']
<class 'str'>
['21,1.51750,12.82,3.55,1.49,72.75,0.54,8.52,0.00,0.19,1']
<class 'str'>
['22,1.51966,14.77,3.75,0.29,72.02,0.03,9.00,0.00,0.00,1']
<class 'str'>
['23,1.51736,12.78,3.62,1.29,72.79,0.59,8.70,0.00,0.00,1']
<class 'str'>
['24,1.51751,12.81,3.57,1.35,73.02,0.62,8.59,0.00,0.00,1']
<class 'str'>
['25,1.51720,13.38,3.50,1.15,72.85,0.50,8.43,0.00,0.00,1']
<class 'str'>
['26,1.51764,12.98,3.54,1.21,73.00,0.65,8.53,0.00,0.00,1']
<class 'str'>
['27,1.51793,13.21,3.48,1.41,72.64,0.59,8.43,0.00,0.00,1']
<class 'str'>
['28,1.51721,12.87,3.48,1.33,73.04,0.56,8.43,0.00,0.00,1']
<class 'str'>
['29,1.51768,12.56,3.52,1.43,73.15,0.57,8.54,0.00,0.00,1']
<class 'str'>
['30,1.51784,13.08,3.49,1.28,72.86,0.60,8.49,0.00,0.00,1']
<class 'str'>
['31,1.51768,12.65,3.56,1.30,73.08,0.61,8.69,0.00,0.14,1']
<class 'str'>
['32,1.51747,12.84,3.50,1.14,73.27,0.56,8.55,0.00,0.00,1']
<class 'str'>
['33,1.51775,12.85,3.48,1.23,72.97,0.61,8.56,0.09,0.22,1']
<class 'str'>
['34,1.51753,12.57,3.47,1.38,73.39,0.60,8.55,0.00,0.06,1']
<class 'str'>
['35,1.51783,12.69,3.54,1.34,72.95,0.57,8.75,0.00,0.00,1']
<class 'str'>
['36,1.51567,13.29,3.45,1.21,72.74,0.56,8.57,0.00,0.00,1']
<class 'str'>
['37,1.51909,13.89,3.53,1.32,71.81,0.51,8.78,0.11,0.00,1']
<class 'str'>
['38,1.51797,12.74,3.48,1.35,72.96,0.64,8.68,0.00,0.00,1']
<class 'str'>
['39,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1']
<class 'str'>
['40,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1']
<class 'str'>
['41,1.51793,12.79,3.50,1.12,73.03,0.64,8.77,0.00,0.00,1']
<class 'str'>
['42,1.51755,12.71,3.42,1.20,73.20,0.59,8.64,0.00,0.00,1']
<class 'str'>
['43,1.51779,13.21,3.39,1.33,72.76,0.59,8.59,0.00,0.00,1']
<class 'str'>
['44,1.52210,13.73,3.84,0.72,71.76,0.17,9.74,0.00,0.00,1']
<class 'str'>
['45,1.51786,12.73,3.43,1.19,72.95,0.62,8.76,0.00,0.30,1']
<class 'str'>
['46,1.51900,13.49,3.48,1.35,71.95,0.55,9.00,0.00,0.00,1']
<class 'str'>
['47,1.51869,13.19,3.37,1.18,72.72,0.57,8.83,0.00,0.16,1']
<class 'str'>
['48,1.52667,13.99,3.70,0.71,71.57,0.02,9.82,0.00,0.10,1']
<class 'str'>
['49,1.52223,13.21,3.77,0.79,71.99,0.13,10.02,0.00,0.00,1']
<class 'str'>
['50,1.51898,13.58,3.35,1.23,72.08,0.59,8.91,0.00,0.00,1']
<class 'str'>
['51,1.52320,13.72,3.72,0.51,71.75,0.09,10.06,0.00,0.16,1']
<class 'str'>
['52,1.51926,13.20,3.33,1.28,72.36,0.60,9.14,0.00,0.11,1']
<class 'str'>
['53,1.51808,13.43,2.87,1.19,72.84,0.55,9.03,0.00,0.00,1']
<class 'str'>
['54,1.51837,13.14,2.84,1.28,72.85,0.55,9.07,0.00,0.00,1']
<class 'str'>
['55,1.51778,13.21,2.81,1.29,72.98,0.51,9.02,0.00,0.09,1']
<class 'str'>
['56,1.51769,12.45,2.71,1.29,73.70,0.56,9.06,0.00,0.24,1']
<class 'str'>
['57,1.51215,12.99,3.47,1.12,72.98,0.62,8.35,0.00,0.31,1']
<class 'str'>
['58,1.51824,12.87,3.48,1.29,72.95,0.60,8.43,0.00,0.00,1']
<class 'str'>
['59,1.51754,13.48,3.74,1.17,72.99,0.59,8.03,0.00,0.00,1']
<class 'str'>
['60,1.51754,13.39,3.66,1.19,72.79,0.57,8.27,0.00,0.11,1']
<class 'str'>
['61,1.51905,13.60,3.62,1.11,72.64,0.14,8.76,0.00,0.00,1']
<class 'str'>
['62,1.51977,13.81,3.58,1.32,71.72,0.12,8.67,0.69,0.00,1']
<class 'str'>
['63,1.52172,13.51,3.86,0.88,71.79,0.23,9.54,0.00,0.11,1']
<class 'str'>
['64,1.52227,14.17,3.81,0.78,71.35,0.00,9.69,0.00,0.00,1']
<class 'str'>
['65,1.52172,13.48,3.74,0.90,72.01,0.18,9.61,0.00,0.07,1']
<class 'str'>
['66,1.52099,13.69,3.59,1.12,71.96,0.09,9.40,0.00,0.00,1']
<class 'str'>
['67,1.52152,13.05,3.65,0.87,72.22,0.19,9.85,0.00,0.17,1']
<class 'str'>
['68,1.52152,13.05,3.65,0.87,72.32,0.19,9.85,0.00,0.17,1']
<class 'str'>
['69,1.52152,13.12,3.58,0.90,72.20,0.23,9.82,0.00,0.16,1']
<class 'str'>
['70,1.52300,13.31,3.58,0.82,71.99,0.12,10.17,0.00,0.03,1']
<class 'str'>
['71,1.51574,14.86,3.67,1.74,71.87,0.16,7.36,0.00,0.12,2']
<class 'str'>
['72,1.51848,13.64,3.87,1.27,71.96,0.54,8.32,0.00,0.32,2']
<class 'str'>
['73,1.51593,13.09,3.59,1.52,73.10,0.67,7.83,0.00,0.00,2']
<class 'str'>
['74,1.51631,13.34,3.57,1.57,72.87,0.61,7.89,0.00,0.00,2']
<class 'str'>
['75,1.51596,13.02,3.56,1.54,73.11,0.72,7.90,0.00,0.00,2']
<class 'str'>
['76,1.51590,13.02,3.58,1.51,73.12,0.69,7.96,0.00,0.00,2']
<class 'str'>
['77,1.51645,13.44,3.61,1.54,72.39,0.66,8.03,0.00,0.00,2']
<class 'str'>
['78,1.51627,13.00,3.58,1.54,72.83,0.61,8.04,0.00,0.00,2']
<class 'str'>
['79,1.51613,13.92,3.52,1.25,72.88,0.37,7.94,0.00,0.14,2']
<class 'str'>
['80,1.51590,12.82,3.52,1.90,72.86,0.69,7.97,0.00,0.00,2']
<class 'str'>
['81,1.51592,12.86,3.52,2.12,72.66,0.69,7.97,0.00,0.00,2']
<class 'str'>
['82,1.51593,13.25,3.45,1.43,73.17,0.61,7.86,0.00,0.00,2']
<class 'str'>
['83,1.51646,13.41,3.55,1.25,72.81,0.68,8.10,0.00,0.00,2']
<class 'str'>
['84,1.51594,13.09,3.52,1.55,72.87,0.68,8.05,0.00,0.09,2']
<class 'str'>
['85,1.51409,14.25,3.09,2.08,72.28,1.10,7.08,0.00,0.00,2']
<class 'str'>
['86,1.51625,13.36,3.58,1.49,72.72,0.45,8.21,0.00,0.00,2']
<class 'str'>
['87,1.51569,13.24,3.49,1.47,73.25,0.38,8.03,0.00,0.00,2']
<class 'str'>
['88,1.51645,13.40,3.49,1.52,72.65,0.67,8.08,0.00,0.10,2']
<class 'str'>
['89,1.51618,13.01,3.50,1.48,72.89,0.60,8.12,0.00,0.00,2']
<class 'str'>
['90,1.51640,12.55,3.48,1.87,73.23,0.63,8.08,0.00,0.09,2']
<class 'str'>
['91,1.51841,12.93,3.74,1.11,72.28,0.64,8.96,0.00,0.22,2']
<class 'str'>
['92,1.51605,12.90,3.44,1.45,73.06,0.44,8.27,0.00,0.00,2']
<class 'str'>
['93,1.51588,13.12,3.41,1.58,73.26,0.07,8.39,0.00,0.19,2']
<class 'str'>
['94,1.51590,13.24,3.34,1.47,73.10,0.39,8.22,0.00,0.00,2']
<class 'str'>
['95,1.51629,12.71,3.33,1.49,73.28,0.67,8.24,0.00,0.00,2']
<class 'str'>
['96,1.51860,13.36,3.43,1.43,72.26,0.51,8.60,0.00,0.00,2']
<class 'str'>
['97,1.51841,13.02,3.62,1.06,72.34,0.64,9.13,0.00,0.15,2']
<class 'str'>
['98,1.51743,12.20,3.25,1.16,73.55,0.62,8.90,0.00,0.24,2']
<class 'str'>
['99,1.51689,12.67,2.88,1.71,73.21,0.73,8.54,0.00,0.00,2']
<class 'str'>
['100,1.51811,12.96,2.96,1.43,72.92,0.60,8.79,0.14,0.00,2']
<class 'str'>
['101,1.51655,12.75,2.85,1.44,73.27,0.57,8.79,0.11,0.22,2']
<class 'str'>
['102,1.51730,12.35,2.72,1.63,72.87,0.70,9.23,0.00,0.00,2']
<class 'str'>
['103,1.51820,12.62,2.76,0.83,73.81,0.35,9.42,0.00,0.20,2']
<class 'str'>
['104,1.52725,13.80,3.15,0.66,70.57,0.08,11.64,0.00,0.00,2']
<class 'str'>
['105,1.52410,13.83,2.90,1.17,71.15,0.08,10.79,0.00,0.00,2']
<class 'str'>
['106,1.52475,11.45,0.00,1.88,72.19,0.81,13.24,0.00,0.34,2']
<class 'str'>
['107,1.53125,10.73,0.00,2.10,69.81,0.58,13.30,3.15,0.28,2']
<class 'str'>
['108,1.53393,12.30,0.00,1.00,70.16,0.12,16.19,0.00,0.24,2']
<class 'str'>
['109,1.52222,14.43,0.00,1.00,72.67,0.10,11.52,0.00,0.08,2']
<class 'str'>
['110,1.51818,13.72,0.00,0.56,74.45,0.00,10.99,0.00,0.00,2']
<class 'str'>
['111,1.52664,11.23,0.00,0.77,73.21,0.00,14.68,0.00,0.00,2']
<class 'str'>
['112,1.52739,11.02,0.00,0.75,73.08,0.00,14.96,0.00,0.00,2']
<class 'str'>
['113,1.52777,12.64,0.00,0.67,72.02,0.06,14.40,0.00,0.00,2']
<class 'str'>
['114,1.51892,13.46,3.83,1.26,72.55,0.57,8.21,0.00,0.14,2']
<class 'str'>
['115,1.51847,13.10,3.97,1.19,72.44,0.60,8.43,0.00,0.00,2']
<class 'str'>
['116,1.51846,13.41,3.89,1.33,72.38,0.51,8.28,0.00,0.00,2']
<class 'str'>
['117,1.51829,13.24,3.90,1.41,72.33,0.55,8.31,0.00,0.10,2']
<class 'str'>
['118,1.51708,13.72,3.68,1.81,72.06,0.64,7.88,0.00,0.00,2']
<class 'str'>
['119,1.51673,13.30,3.64,1.53,72.53,0.65,8.03,0.00,0.29,2']
<class 'str'>
['120,1.51652,13.56,3.57,1.47,72.45,0.64,7.96,0.00,0.00,2']
<class 'str'>
['121,1.51844,13.25,3.76,1.32,72.40,0.58,8.42,0.00,0.00,2']
<class 'str'>
['122,1.51663,12.93,3.54,1.62,72.96,0.64,8.03,0.00,0.21,2']
<class 'str'>
['123,1.51687,13.23,3.54,1.48,72.84,0.56,8.10,0.00,0.00,2']
<class 'str'>
['124,1.51707,13.48,3.48,1.71,72.52,0.62,7.99,0.00,0.00,2']
<class 'str'>
['125,1.52177,13.20,3.68,1.15,72.75,0.54,8.52,0.00,0.00,2']
<class 'str'>
['126,1.51872,12.93,3.66,1.56,72.51,0.58,8.55,0.00,0.12,2']
<class 'str'>
['127,1.51667,12.94,3.61,1.26,72.75,0.56,8.60,0.00,0.00,2']
<class 'str'>
['128,1.52081,13.78,2.28,1.43,71.99,0.49,9.85,0.00,0.17,2']
<class 'str'>
['129,1.52068,13.55,2.09,1.67,72.18,0.53,9.57,0.27,0.17,2']
<class 'str'>
['130,1.52020,13.98,1.35,1.63,71.76,0.39,10.56,0.00,0.18,2']
<class 'str'>
['131,1.52177,13.75,1.01,1.36,72.19,0.33,11.14,0.00,0.00,2']
<class 'str'>
['132,1.52614,13.70,0.00,1.36,71.24,0.19,13.44,0.00,0.10,2']
<class 'str'>
['133,1.51813,13.43,3.98,1.18,72.49,0.58,8.15,0.00,0.00,2']
<class 'str'>
['134,1.51800,13.71,3.93,1.54,71.81,0.54,8.21,0.00,0.15,2']
<class 'str'>
['135,1.51811,13.33,3.85,1.25,72.78,0.52,8.12,0.00,0.00,2']
<class 'str'>
['136,1.51789,13.19,3.90,1.30,72.33,0.55,8.44,0.00,0.28,2']
<class 'str'>
['137,1.51806,13.00,3.80,1.08,73.07,0.56,8.38,0.00,0.12,2']
<class 'str'>
['138,1.51711,12.89,3.62,1.57,72.96,0.61,8.11,0.00,0.00,2']
<class 'str'>
['139,1.51674,12.79,3.52,1.54,73.36,0.66,7.90,0.00,0.00,2']
<class 'str'>
['140,1.51674,12.87,3.56,1.64,73.14,0.65,7.99,0.00,0.00,2']
<class 'str'>
['141,1.51690,13.33,3.54,1.61,72.54,0.68,8.11,0.00,0.00,2']
<class 'str'>
['142,1.51851,13.20,3.63,1.07,72.83,0.57,8.41,0.09,0.17,2']
<class 'str'>
['143,1.51662,12.85,3.51,1.44,73.01,0.68,8.23,0.06,0.25,2']
<class 'str'>
['144,1.51709,13.00,3.47,1.79,72.72,0.66,8.18,0.00,0.00,2']
<class 'str'>
['145,1.51660,12.99,3.18,1.23,72.97,0.58,8.81,0.00,0.24,2']
<class 'str'>
['146,1.51839,12.85,3.67,1.24,72.57,0.62,8.68,0.00,0.35,2']
<class 'str'>
['147,1.51769,13.65,3.66,1.11,72.77,0.11,8.60,0.00,0.00,3']
<class 'str'>
['148,1.51610,13.33,3.53,1.34,72.67,0.56,8.33,0.00,0.00,3']
<class 'str'>
['149,1.51670,13.24,3.57,1.38,72.70,0.56,8.44,0.00,0.10,3']
<class 'str'>
['150,1.51643,12.16,3.52,1.35,72.89,0.57,8.53,0.00,0.00,3']
<class 'str'>
['151,1.51665,13.14,3.45,1.76,72.48,0.60,8.38,0.00,0.17,3']

<class 'str'>
['152,1.52127,14.32,3.90,0.83,71.50,0.00,9.49,0.00,0.00,3']
<class 'str'>
['153,1.51779,13.64,3.65,0.65,73.00,0.06,8.93,0.00,0.00,3']
<class 'str'>
['154,1.51610,13.42,3.40,1.22,72.69,0.59,8.32,0.00,0.00,3']
<class 'str'>
['155,1.51694,12.86,3.58,1.31,72.61,0.61,8.79,0.00,0.00,3']
<class 'str'>
['156,1.51646,13.04,3.40,1.26,73.01,0.52,8.58,0.00,0.00,3']
<class 'str'>
['157,1.51655,13.41,3.39,1.28,72.64,0.52,8.65,0.00,0.00,3']
<class 'str'>
['158,1.52121,14.03,3.76,0.58,71.79,0.11,9.65,0.00,0.00,3']
<class 'str'>
['159,1.51776,13.53,3.41,1.52,72.04,0.58,8.79,0.00,0.00,3']
<class 'str'>
['160,1.51796,13.50,3.36,1.63,71.94,0.57,8.81,0.00,0.09,3']
<class 'str'>
['161,1.51832,13.33,3.34,1.54,72.14,0.56,8.99,0.00,0.00,3']
<class 'str'>
['162,1.51934,13.64,3.54,0.75,72.65,0.16,8.89,0.15,0.24,3']
<class 'str'>
['163,1.52211,14.19,3.78,0.91,71.36,0.23,9.14,0.00,0.37,3']
<class 'str'>
['164,1.51514,14.01,2.68,3.50,69.89,1.68,5.87,2.20,0.00,5']
<class 'str'>
['165,1.51915,12.73,1.85,1.86,72.69,0.60,10.09,0.00,0.00,5']
<class 'str'>
['166,1.52171,11.56,1.88,1.56,72.86,0.47,11.41,0.00,0.00,5']
<class 'str'>
['167,1.52151,11.03,1.71,1.56,73.44,0.58,11.62,0.00,0.00,5']
<class 'str'>
['168,1.51969,12.64,0.00,1.65,73.75,0.38,11.53,0.00,0.00,5']
<class 'str'>
['169,1.51666,12.86,0.00,1.83,73.88,0.97,10.17,0.00,0.00,5']
<class 'str'>
['170,1.51994,13.27,0.00,1.76,73.03,0.47,11.32,0.00,0.00,5']
<class 'str'>
['171,1.52369,13.44,0.00,1.58,72.22,0.32,12.24,0.00,0.00,5']
<class 'str'>
['172,1.51316,13.02,0.00,3.04,70.48,6.21,6.96,0.00,0.00,5']
<class 'str'>
['173,1.51321,13.00,0.00,3.02,70.70,6.21,6.93,0.00,0.00,5']
<class 'str'>
['174,1.52043,13.38,0.00,1.40,72.25,0.33,12.50,0.00,0.00,5']
<class 'str'>
['175,1.52058,12.85,1.61,2.17,72.18,0.76,9.70,0.24,0.51,5']
<class 'str'>
['176,1.52119,12.97,0.33,1.51,73.39,0.13,11.27,0.00,0.28,5']
<class 'str'>
['177,1.51905,14.00,2.39,1.56,72.37,0.00,9.57,0.00,0.00,6']
<class 'str'>
['178,1.51937,13.79,2.41,1.19,72.76,0.00,9.77,0.00,0.00,6']
<class 'str'>
['179,1.51829,14.46,2.24,1.62,72.38,0.00,9.26,0.00,0.00,6']
<class 'str'>
['180,1.51852,14.09,2.19,1.66,72.67,0.00,9.32,0.00,0.00,6']
<class 'str'>
['181,1.51299,14.40,1.74,1.54,74.55,0.00,7.59,0.00,0.00,6']
<class 'str'>
['182,1.51888,14.99,0.78,1.74,72.50,0.00,9.95,0.00,0.00,6']
<class 'str'>
['183,1.51916,14.15,0.00,2.09,72.74,0.00,10.88,0.00,0.00,6']
<class 'str'>
['184,1.51969,14.56,0.00,0.56,73.48,0.00,11.22,0.00,0.00,6']
<class 'str'>
['185,1.51115,17.38,0.00,0.34,75.41,0.00,6.65,0.00,0.00,6']
<class 'str'>
['186,1.51131,13.69,3.20,1.81,72.81,1.76,5.43,1.19,0.00,7']
<class 'str'>
['187,1.51838,14.32,3.26,2.22,71.25,1.46,5.79,1.63,0.00,7']
<class 'str'>
['188,1.52315,13.44,3.34,1.23,72.38,0.60,8.83,0.00,0.00,7']
<class 'str'>
['189,1.52247,14.86,2.20,2.06,70.26,0.76,9.76,0.00,0.00,7']
<class 'str'>
['190,1.52365,15.79,1.83,1.31,70.43,0.31,8.61,1.68,0.00,7']
<class 'str'>
['191,1.51613,13.88,1.78,1.79,73.10,0.00,8.67,0.76,0.00,7']
<class 'str'>
['192,1.51602,14.85,0.00,2.38,73.28,0.00,8.76,0.64,0.09,7']
<class 'str'>
['193,1.51623,14.20,0.00,2.79,73.46,0.04,9.04,0.40,0.09,7']
<class 'str'>
['194,1.51719,14.75,0.00,2.00,73.02,0.00,8.53,1.59,0.08,7']
<class 'str'>
['195,1.51683,14.56,0.00,1.98,73.29,0.00,8.52,1.57,0.07,7']
<class 'str'>
['196,1.51545,14.14,0.00,2.68,73.39,0.08,9.07,0.61,0.05,7']
<class 'str'>
['197,1.51556,13.87,0.00,2.54,73.23,0.14,9.41,0.81,0.01,7']
<class 'str'>
['198,1.51727,14.70,0.00,2.34,73.28,0.00,8.95,0.66,0.00,7']
<class 'str'>
['199,1.51531,14.38,0.00,2.66,73.10,0.04,9.08,0.64,0.00,7']
<class 'str'>
['200,1.51609,15.01,0.00,2.51,73.05,0.05,8.83,0.53,0.00,7']
<class 'str'>
['201,1.51508,15.15,0.00,2.25,73.50,0.00,8.34,0.63,0.00,7']
<class 'str'>
['202,1.51653,11.95,0.00,1.19,75.18,2.70,8.93,0.00,0.00,7']
<class 'str'>
['203,1.51514,14.85,0.00,2.42,73.72,0.00,8.39,0.56,0.00,7']
<class 'str'>
['204,1.51658,14.80,0.00,1.99,73.11,0.00,8.28,1.71,0.00,7']
<class 'str'>
['205,1.51617,14.95,0.00,2.27,73.30,0.00,8.71,0.67,0.00,7']
<class 'str'>
['206,1.51732,14.95,0.00,1.80,72.99,0.00,8.61,1.55,0.00,7']
<class 'str'>
['207,1.51645,14.94,0.00,1.87,73.11,0.00,8.67,1.38,0.00,7']
<class 'str'>
['208,1.51831,14.39,0.00,1.82,72.86,1.41,6.47,2.88,0.00,7']
<class 'str'>
['209,1.51640,14.37,0.00,2.74,72.85,0.00,9.45,0.54,0.00,7']
<class 'str'>
['210,1.51623,14.14,0.00,2.88,72.61,0.08,9.18,1.06,0.00,7']
<class 'str'>
['211,1.51685,14.92,0.00,1.99,73.06,0.00,8.40,1.59,0.00,7']
<class 'str'>
['212,1.52065,14.36,0.00,2.02,73.42,0.00,8.44,1.64,0.00,7']
<class 'str'>
['213,1.51651,14.38,0.00,1.94,73.61,0.00,8.48,1.57,0.00,7']
<class 'str'>
['214,1.51711,14.23,0.00,2.08,73.36,0.00,8.62,1.67,0.00,7']
all the data inserted

In [98]:
mydb = connection.connect(host="localhost", database='sudhanshu12345', user="root", passwd="1234", use_pure=True)
cur= mydb.cursor()
with open('glass.data',"r") as data:
    next(data)
    data_csv= csv.reader(data, delimiter="\n")
    print(data_csv)
    for j in data_csv:
        print(type(str(j)))
        print(j)
        cur.execute('insert into sudhanshu12345.GlassData1 values (j[0])')
    print("all the data inserted")
mydb.commit()

<_csv.reader object at 0x000001E5310E0BE0>
<class 'str'>
['1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.00,1']

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '[0])' at line 1

In [100]:
mydb = connection.connect(host="localhost", database='sudhanshu12345', user="root", passwd="1234", use_pure=True)
cur= mydb.cursor()
with open('glass.data',"r") as data:
    next(data)
    data_csv= csv.reader(data, delimiter="\n")
    print(data_csv)
    for j in data_csv:
        print(type(str(j)))
        print(j)
        cur.execute('insert into sudhanshu12345.GlassData1 values str((j[0]))')
    print("all the data inserted")
mydb.commit()

<_csv.reader object at 0x000001E53164EA60>
<class 'str'>
['1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.00,1']

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'str((j[0]))' at line 1

In [101]:
## Delete from table
'''
import mysql.connector as connection

try:

    mydb = connection.connect(host="localhost", database='Student', user="root", passwd="mysql", use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "DELETE FROM studentdetails WHERE Studentid = 1122"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    mydb.commit()

    #let's check if the value is updated in the table.
    query = "Select * from studentdetails where Studentid=1122;"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)

    mydb.close()  # close the connection

except Exception as e:
    #mydb.close()
    print(str(e))
'''

'\nimport mysql.connector as connection\n\ntry:\n\n    mydb = connection.connect(host="localhost", database=\'Student\', user="root", passwd="mysql", use_pure=True)\n    # check if the connection is established\n    print(mydb.is_connected())\n    query = "DELETE FROM studentdetails WHERE Studentid = 1122"\n    cursor = mydb.cursor()  # create a cursor to execute queries\n    cursor.execute(query)\n    mydb.commit()\n\n    #let\'s check if the value is updated in the table.\n    query = "Select * from studentdetails where Studentid=1122;"\n    cursor = mydb.cursor()  # create a cursor to execute queries\n    cursor.execute(query)\n    for result in cursor.fetchall():\n        print(result)\n\n    mydb.close()  # close the connection\n\nexcept Exception as e:\n    #mydb.close()\n    print(str(e))\n'

In [102]:
mydb = connection.connect(host="localhost", database = 'sudhanshu12345',user="root", passwd="1234",use_pure=True)
mydb

In [103]:
mydb = connection.connect(host="localhost", database='sudhanshu12345', user="root", passwd="1234", use_pure=True)
# check if the connection is established
print(mydb.is_connected())
query = "DELETE FROM test WHERE x1 = 4564"
cursor = mydb.cursor()  # create a cursor to execute queries
cursor.execute(query)
mydb.commit()

True

In [105]:
mydb.close()

In [106]:
## Update Table
'''
import mysql.connector as connection
import pandas as pandas

try:

    mydb = connection.connect(host="localhost", database='Student', user="root", passwd="mysql", use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "UPDATE studentdetails SET FirstName = 'Kumar', LastName = 'Gaurav' WHERE Studentid = 1122"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    mydb.commit()

    #let's check if the value is updated in the table.
    query = "Select * from studentdetails where Studentid=1122;"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)

    mydb.close()  # close the connection

except Exception as e:
    #mydb.close()
    print(str(e))
'''

'\nimport mysql.connector as connection\nimport pandas as pandas\n\ntry:\n\n    mydb = connection.connect(host="localhost", database=\'Student\', user="root", passwd="mysql", use_pure=True)\n    # check if the connection is established\n    print(mydb.is_connected())\n    query = "UPDATE studentdetails SET FirstName = \'Kumar\', LastName = \'Gaurav\' WHERE Studentid = 1122"\n    cursor = mydb.cursor()  # create a cursor to execute queries\n    cursor.execute(query)\n    mydb.commit()\n\n    #let\'s check if the value is updated in the table.\n    query = "Select * from studentdetails where Studentid=1122;"\n    cursor = mydb.cursor()  # create a cursor to execute queries\n    cursor.execute(query)\n    for result in cursor.fetchall():\n        print(result)\n\n    mydb.close()  # close the connection\n\nexcept Exception as e:\n    #mydb.close()\n    print(str(e))\n'

In [108]:
mydb = connection.connect(host="localhost", database='sudhanshu12345', user="root", passwd="1234", use_pure=True)
# check if the connection is established
print(mydb.is_connected())
query = "UPDATE test SET x1 = 345454, x2 = 'Amarjeet Kumar' WHERE x1 = 4570"
cursor = mydb.cursor()  # create a cursor to execute queries
cursor.execute(query)
mydb.commit()

True

In [109]:
mydb.close()